@font-face {
    font-family: HelveticaNeueLT_W20_75_Bold;
    src: url(../fonts/helvetica_neuelt_arabic_75_bold.ttf);
  }
  
  *{
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeueLT_W20_75_Bold";
    text-align: justify;
    text-justify: inter-word;
  }
  a{
    color: #707070;
    text-decoration: none;
  }
  a:hover , a:active{
    color: #AEB756;
    text-decoration: none;
    i{
      color: #AEB756  ;
    }
  }
  hr{
    margin: 0;
  }
  .clear_both{
    clear: both;
  }
  
  .f_l{
    float:left;
  }
  .f_r{
    float: right !important;
  }
  .f_n{
    float: none;
  }
  ul{
      list-style: none;
      li{
          float: right;
      }
  }
  .margin_top_2{
    margin-top: 2rem;
  }
  .center_align{
    text-align: center;
  }
  .right_align{
    text-align: right;
  }
  .left_align{
    text-align: left;
  }
  .size_s{
    font-size: 12px;
  }
  .size_xl{
    font-size: 55px;
  }
  .size_l{
    font-size: 40px;
  }
  .size_m{
    font-size: 30px;
  }
  .width_1{
    width:1%;
  }
  .green_color{
    color:#AEB756;
  }
  .line_pace_o9{
    line-height: 0.9;
  }
  .border_bottom{
    border-bottom: 1px solid #ffffff4d;
  }
  .bold_border_bottom{
    border-bottom: 4px solid #AEB756;
  }
  .display_none{
    display: none;
  }
  .display_block{
    display: block;
  }
  .opacityo3{
    opacity: 0.3;
  }
  .margin_bottom{
    margin-bottom: 0;
  }
  .active_block{
    opacity: 1 !important;
  }
  .inline_duo_ul{
    li{
      float: right !important;
      width:50%;
    }
  }
  .font_12{
    font-size: 12px;
  }
  .font_14{
    font-size: 12px;
  }
  .font_18{
    font-size: 18px;  
  }
  .rotate270{
    transform: rotate(270deg);
  }
  .rotate180{
    transform: rotate(180deg);
  }
  .icon_content_width{
    width: 399px;
  }
  .white_color{
    color:#fff !important;
  }
  .floating_tab{
    position: absolute;
    background: white;
    top: 58px;
    overflow: auto;
    height: 500px;
    z-index: 1;

  }
  .card-text , .card-title{
    line-height: 29px;
  }