header {
  margin-bottom: 18px;
}

header ul li a {
  margin-top: 10px;
}

.header_icon_content .icon_content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header_icon_content .icon_content li {
  float: none;
}

.header_icon_content .icon_content .gas_price ul {
  margin-right: 0;
}

.header_icon_content .icon_content .currency_converter {
  left: 13%;
}

.header_icon_content .icon_content .prayer_time {
  left: 8%;
}

.header_icon_content .icon_content .weather {
  left: 4%;
}

.header_icon_content .icon_content .stock {
  left: 2%;
}

.header_icon_content .icon_content .stock .content_header div {
  padding: 0 8%;
}

.nav_bar nav {
  height: 40px;
}

.nav_bar i {
  font-size: x-large;
  color: #AEB756;
}

.nav_bar span {
  font-size: 19px;
}

.nav_bar .clicked {
  border-bottom: 3px solid #AEB756;
  padding-bottom: 23px;
}

.text-right ul {
  margin-right: 10%;
}

.text-right img {
  margin-top: 3%;
}

.text-right li:not(.divider):not(.com) {
  padding-top: 15px;
}

.text-right .locale {
  margin-left: 10px;
  padding-left: 20px;
  font-size: 15px;
  color: #707070;
}

.text-right .icons {
  font-size: 20px;
}

.text-right .icons a {
  color: black;
}

.text-right .com {
  margin: 0 1%;
  padding-top: 20px;
  font-size: 15px;
}

.text-right .com i {
  color: #707070;
}

.text-right .search {
  margin-right: 3%;
  padding-top: 10px;
}

.text-right .search i {
  color: #AEB756;
}

.text-right .do_search {
  position: relative;
  margin-top: 20px;
}

.text-right .do_search i {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.text-right .do_search input {
  font-size: 20px;
  padding: 2%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #707070;
}

.text-right .divider span {
  display: inline-block;
  height: 4em;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.mobile_menu i {
  color: #AEB756;
}

.mobile_menu li {
  padding: 0 4%;
}

.mobile_menu .head {
  margin-bottom: 20px;
  padding: 4% 6% 0;
}

.mobile_menu .head .menu_button {
  width: 30px;
  margin-left: 20px;
  margin-top: 25px;
}

.mobile_menu .head .menu_button span {
  display: block;
  height: 3px;
  background: #AEB756;
  margin: 0 0 6px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mobile_menu .head .opened span {
  visibility: hidden;
  opacity: 0;
  margin: 0;
}

.mobile_menu .head .opened span:first-of-type {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.mobile_menu .head .opened span:last-of-type {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
  transform: rotate(45deg) translate(2px, 1px);
}

.mobile_menu .head .logo {
  padding-right: 4%;
}

.mobile_menu span {
  margin-right: 10px;
}

.mobile_menu .body {
  background: #fffffff2;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.mobile_menu .body .main_menu {
  width: 100%;
  font-size: 20px;
  float: right;
}

.mobile_menu .body .main_menu li {
  float: none;
  text-align: right;
}

.mobile_menu .body .main_menu .icons {
  height: 45px;
  font-size: 25px;
}

.mobile_menu .body .main_menu .icons i {
  color: black;
}

.mobile_menu .body .main_menu .icons li:not(:last-child) {
  float: right;
  margin-left: 10%;
}

.mobile_menu .body .main_menu .icons li {
  padding: 0;
}

.mobile_menu .body .main_menu .com {
  width: 45%;
  margin: auto;
}

.mobile_menu .body .main_menu .com li {
  float: right;
  margin: 0 5%;
  padding: 0;
}

.mobile_menu .body .main_menu .com li i {
  color: #707070;
}

.mobile_menu .body .main_menu > li {
  margin: 17px 0;
}

.mobile_menu .body .search {
  padding: 25px 0;
}

.mobile_menu .body .search div {
  position: relative;
  text-align: center;
}

.mobile_menu .body .search div i {
  position: absolute;
  left: 9%;
  top: 6px;
}

.mobile_menu .body .search div input {
  width: 85%;
  margin: 0 5%;
  height: 40px;
  padding: 2%;
  border-color: rgba(112, 112, 112, 0.1);
  border-width: 1px;
}

.icon_content {
  padding: 0 !important;
}

.icon_content li:not(.content_header) {
  padding: 0 !important;
}

.content_header i {
  font-size: 25px;
}

.gas_price {
  left: 25%;
}

.gas_price table {
  width: 100%;
}

.gas_price table td:nth-child(3) {
  font-size: 45px;
}

.gas_price table td div {
  width: 65%;
}

.gas_price table td:not(:nth-child(1)) {
  color: #AEB756;
}

.gas_price table p {
  margin: 0;
}

.currency_converter ul li {
  margin: 0 4%;
}

.currency_converter .content_header {
  padding: 0;
}

.currency_converter table {
  width: 100%;
}

.currency_converter .small_size {
  font-size: 15px;
}

.currency_converter .content_row img {
  padding-top: 2%;
}

.prayer_time, .weather {
  padding: 0 4%;
}

.prayer_time .divider span, .weather .divider span {
  display: inline-block;
  height: 4em;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.prayer_time .outter, .weather .outter {
  margin: 0 5%;
  height: 90px;
}

.prayer_time .outter li:not(.inner), .weather .outter li:not(.inner) {
  float: right;
}

.prayer_time table, .weather table {
  width: 100%;
}

.prayer_time table td:nth-child(3), .weather table td:nth-child(3) {
  width: 35%;
}

.prayer_time .first_col, .weather .first_col {
  margin: 0 8%;
}

.prayer_time .first_col ul li, .weather .first_col ul li {
  text-align: center !important;
}

.prayer_time .second_col, .weather .second_col {
  margin-right: 8%;
}

.prayer_time .second_col ul li, .weather .second_col ul li {
  text-align: center !important;
}

.prayer_time .content_row table, .weather .content_row table {
  width: 100%;
}

.prayer_time .content_row table td, .weather .content_row table td {
  text-align: center;
}

.slider_body_container {
  position: relative;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -20px;
}

.slider {
  background: #AEB756;
  margin: 0 -4%;
}

.slider .slider_body {
  -webkit-transform: translate3d(120px, 0px, 0px);
          transform: translate3d(120px, 0px, 0px);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.slider .slider_body li {
  float: right !important;
}

.slider .slider_body .outter {
  margin: 10% 3% 0 3%;
  color: white;
}

.slider .slider_body .outter li:first-child {
  margin-left: -7%;
}

.slider .slider_body .outter i {
  color: white;
}

.slider .slider_body .body_block {
  width: 120px;
  opacity: 0.3;
}

.slider .slider_body_container::after {
  background: #fff;
  display: block;
  position: relative;
  bottom: 13px;
  left: 5%;
  height: 1px;
  content: "";
  width: 90%;
  opacity: 0.3;
}

.slider .footer {
  width: 20%;
  margin: auto;
}

.slider .footer li {
  color: white;
}

.stock .stock_tabs li {
  padding-bottom: 20px !important;
  text-align: center !important;
}

.stock .stock_tabs .tab_hr {
  margin-top: 0;
}

.stock .stock_tabs .active {
  border-bottom: #AEB756 3px solid;
}

.stock .statistics ul {
  padding: 0 6%;
}

.stock .statistics li:first-child {
  text-align: right !important;
}

.stock .statistics li:last-child {
  text-align: left !important;
}

.stock .details {
  padding: 0 15%;
}

.stock .details .row_values .inner_values {
  font-size: 12px;
}

.stock .details .row_values .inner_values li {
  text-align: center;
}

.stock .details .row_values .divider {
  margin-left: 10px;
}

.stock .details .row_values .divider span {
  display: inline-block;
  height: 2em;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.stock .details .line_statistics .win {
  width: 45%;
}

.stock .details .line_statistics .win li:nth-child(2) {
  background: #AEB756;
  height: 10px;
  margin: 6% 0;
}

.stock .details .line_statistics .fixed {
  width: 20%;
}

.stock .details .line_statistics .fixed li:nth-child(2) {
  background: #707070;
  height: 10px;
  margin: 14% 0;
}

.stock .details .line_statistics .lose {
  width: 35%;
}

.stock .details .line_statistics .lose ul li {
  text-align: left;
}

.stock .details .line_statistics .lose li:nth-child(2) {
  background: #E20C0C;
  height: 10px;
  margin: 8% 0;
}

.stock .details .companies_title {
  background: #AEB756;
  color: #fff;
  font-size: 12px;
  padding: 2%;
  margin-top: 4%;
}

.stock .details .most_companies_title {
  margin: 15px 0;
}

.stock .details .most_catigories li:not(:last-child) {
  margin-left: 21%;
}

.stock .details .most_catigories span {
  margin: 0;
}

.stock .details .most_catigories .clicked {
  border-bottom: #AEB756 2px solid;
  padding-bottom: 12px;
}

.stock .details .most_companoes_row div:not(:last-child) {
  margin-left: 30%;
}

.highcharts-legend, .highcharts-title {
  display: none;
}

.highcharts-container {
  height: 400px;
}

.nav_down_hr {
  margin-bottom: 0;
}

@media (min-width: 360px) {
  .mobile_menu .com {
    width: 95%;
  }
}

@media (max-width: 1140px) {
  header div {
    display: none;
  }
  header, nav, .nav_top_hr, .nav_down_hr {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  .mobile_menu .com {
    width: 100%;
  }
  .icon_content_width {
    width: 100%;
  }
}

@media (min-width: 1140px) {
  .text-right .icons {
    margin: 0 2%;
  }
  .text-right .first {
    margin: 0 15px;
  }
  .text-right .last {
    margin: 0 15px;
  }
  .nav_bar {
    margin-bottom: 20px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 5%;
  }
  .nav_bar span {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .text-right .icons {
    margin: 0 3%;
  }
  .text-right .first {
    margin: 0 20px;
  }
  .text-right .last {
    margin: 0 20px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 6%;
  }
}
/*# sourceMappingURL=header_navbar.css.map */