.row_1,.row_2{
  margin: 40px 0;
  .custom_text{
    height: 60px;
  }
}
.card{
  padding: 0 18px;
}
.card-img-top{
  border-radius: 0;
}
.blogs_1{
  hr{
    margin: 0;
    height: 1px;
  }
}
.card{
  border-radius: 0;
  border: none;
  margin-bottom: 20px;
}
.card:nth-child(2){
  border-left: 1px solid rgba(0,0,0,.125) ;
  border-right: 1px solid rgba(0,0,0,.125) ;
}
.card-header{
  background: none;
  padding-right: 0;
  border:none;
  img{
    float: right;
  }
  .el_youm{
    float: right;
    margin-right: 20px;
    text-align: end;
    p{
      margin-bottom: 0;
      font-size: 20px
    }
    span{
      font-size: 12px;
      color: #6c757d;
    }
  }
}
.card-body{
  padding: 0 0 0 10px;
  text-align: right;
  color: #707070;
  height: 190px;

}
.card-title{
  color:#AEB756;
  height: 90px;
  overflow-y: hidden;
  margin-top: 10px;
  font-size: 20px;
  text-align: right;

}
.card-text{
  overflow-y: hidden;
  height: 150px;
  margin-bottom: 30px;
  font-size: 16px;
}
.small{
  .card-text{
    height: 95px !important;
    margin-bottom: 20px;
  }
  .card-header{
    padding-bottom: 5px;
  }
}
.large{
  .card-header{
    padding-bottom: 8px;
    .el_youm{
      p{
        margin-bottom: -5px;
      }
    }
  }
  .card-text{
    margin-bottom: 21px;
  }
  .card-footer{
    padding: 15px 0 0 0 ;
  }
}
.card-footer{
  padding: 20px 0 0 0 ;
  background:none;
  padding-bottom: 0;
  ul{
    float: left;
  }
  span{
    color:#AEB756;
    float: right;
  }
}
.row_2{
  margin-top: 40px ;
  .card-body{
    height: 195px;
    .card-title{
      height: 60px;
    }
  }
  .custom_card{
    .card-img-top{
      width: 50%;
      height: 220px;
      float: right;
      margin-top: 18px;
    }
    .card-content{
      width: 50%;
      padding-right: 40px;
      .card-body{
        height: 184px;
        .card-text{
          height: 96px;
        }
      }
    }
  }
}
.main_event{
  position: relative;
  margin-bottom: 40px;
  .background{
    width: 100%;
  }
  .floating_card{
    color:#707070;  
    background:#ffffffe6;
    position: absolute;
    right: 30px;
    bottom: 7%;
    width: 70%;
    height: 244px;
    padding: 2% 2% 2% 0;
    .fc-header{
      text-align: right;
      .el_youm{
        margin-right: 8px;
        text-align: right;
        p{
          font-size: 20px;
        }
      }
      img{
        margin-top: 10px;
        float: right; 
        height: 37px;
      }
      p{
        margin: 0;
      }
      span{
        font-size: 12px;
      }
    }
    .fc-body{
      height: 90px;
      font-size: 24px;
      float: right;
      padding: 0 0 2% 2%;
      border-bottom:1px solid rgba(0,0,0,.1);
      .card-text{
        font-size: 24px;
        text-align: right;
      }
    }
    .fc-footer{
      float: left;
      padding: 3% 0 3% 3%;
      ul{
        li:not(:last-child){
          margin-left: 12px;
        }
      }
    }
  }
  button{
    background: #AEB756;
    border: 0;
    position: absolute;
    bottom: 7%;
    right: 600px;
    i{
      font-size: 30px;
    }
    color: white;
  }
}
.blogs_2{
  .row{
    margin-top: 30px;
  }
  .card-text{
    height: 78px;
  }
  .card-footer{
    ul{
      float: left;
    }
    span{
      float: right;
    }
  }
  .large{
    border-right: 0;
  }
  .small{
    border: 0;
  }
}

//@media Query **************************
@media (min-width:360px){
  .row_1{
    .card{
      .card-body{
        height: 215px;
        .card-text{
          height: 90px;
        }
      }
    }
  }
  .card-img-top{
    height: 270px;
  }
}
@media(max-width:765px){
  .card:nth-child(2){
    border-left: 0;
    border-right: 0 ;
  }
  .row_2{
    .custom_card{
      .card-img-top{
        width: 100%;
        height: fit-content;
        float: none;
        margin-top: 18px;
      }
      .card-content{
        width: 100%;
        padding-right: 0;
        .card-body{
          .card-text{
            height: 90px;
          }
        }
      }
    }
  }
  .main_event{
    .background{
      height: 370px;
    }
    .floating_card{
      height: 210px;
      .el_youm{
        p{
          font-size: 14px;
        }
      }
      .fc-body{
        padding-left: 10%;
        .card-text{
          font-size: 16px;
          height: 65px;
        }
      }
      .fc-footer{
        ul{
          li:not(:last-child){
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media(min-width:765px){
  .card:nth-child(2){
    border-left: 0;
    border-right: 1px solid rgba(0,0,0,.125) ;
  }
  .main_event{
    .floating_card{
      height: 220px;
      .el_youm{
        p{
          font-size: 14px;
        }
      }
      .fc-body{
        padding-left: 3%;
        .card-text{
          font-size: 16px;
        }
      }
    }
  }
}

@media(min-width:960px){
  .large{
    .card-text{
      margin-bottom: 27px;
    }
  } 
  .card:nth-child(2){
    border-left: 0;
    border-right: 1px solid rgba(0,0,0,.125) ;
  }
  .main_event{
    .floating_card{
      height: 241px;
      .el_youm{
        p{
          font-size: 16px;
        }
      }
      .fc-body{
        .card-text{
          font-size: 20px;
        }
      }
    }
  }

} 
@media (min-width:1140px){
  
}

@media (min-width:1200px){
  .row_1 , .row_2{
    .card:nth-child(2){
      border-left: 1px solid rgba(0,0,0,.125) ;
      border-right: 1px solid rgba(0,0,0,.125) ;
    }
 }
}