@font-face {
  font-family: HelveticaNeueLT_W20_75_Bold;
  src: url(../fonts/helvetica_neuelt_arabic_75_bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeueLT_W20_75_Bold";
  text-align: justify;
  text-justify: inter-word;
}

* a {
  color: #707070;
  text-decoration: none;
}

* a:hover, * a:active {
  color: #AEB756;
  text-decoration: none;
}

* a:hover i, * a:active i {
  color: #AEB756;
}

.clear_both {
  clear: both;
}

.f_l {
  float: left;
}

.f_r {
  float: right;
}

.f_n {
  float: none;
}

ul {
  list-style: none;
}

ul li {
  float: right;
}

.margin_top_2 {
  margin-top: 2rem;
}

.center_align {
  text-align: center;
}

.right_align {
  text-align: right;
}

.left_align {
  text-align: left;
}

.size_s {
  font-size: 12px;
}

.size_xl {
  font-size: 55px;
}

.size_l {
  font-size: 40px;
}

.size_m {
  font-size: 30px;
}

.width_1 {
  width: 1%;
}

.green_color {
  color: #AEB756;
}

.line_pace_o9 {
  line-height: 0.9;
}

.border_bottom {
  border-bottom: 1px solid #ffffff4d;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.mobile_menu {
  display: none;
}

header ul li a {
  margin-top: 10px;
}

.nav_bar nav {
  height: 40px;
}

.nav_bar i {
  font-size: x-large;
  color: #AEB756;
}

.nav_bar span {
  font-size: 19px;
}

.nav_bar .clicked {
  border-bottom: 3px solid #AEB756;
  padding-bottom: 17px;
}

.text-right ul {
  margin-right: 15%;
}

.text-right img {
  margin-top: 3%;
}

.text-right li:not(.divider):not(.com) {
  padding-top: 15px;
}

.text-right .locale {
  margin-left: 10px;
  padding-left: 20px;
  font-size: 15px;
  color: #707070;
}

.text-right .icons {
  font-size: 20px;
}

.text-right .icons a {
  color: black;
}

.text-right .com {
  margin: 0 1%;
  padding-top: 20px;
  font-size: 15px;
}

.text-right .com i {
  color: #707070;
}

.text-right .search {
  margin-right: 3%;
  padding-top: 10px;
}

.text-right .search i {
  color: #AEB756;
}

.text-right .divider span {
  display: inline-block;
  height: 4em;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.mobile_menu i {
  color: #AEB756;
}

.mobile_menu li {
  padding: 0 4%;
}

.mobile_menu .head {
  margin-bottom: 35px;
  padding-top: 4%;
}

.mobile_menu .head .search {
  margin-bottom: 35px;
  padding-top: 20px;
}

.mobile_menu span {
  margin-right: 10px;
}

.mobile_menu .menu_button {
  text-align: right;
  padding: 0 4%;
}

.mobile_menu .menu_button a:hover {
  color: #707070 !important;
}

.mobile_menu .menu_button i {
  font-size: 20px;
}

.mobile_menu .body {
  background: #ffffffc7;
}

.mobile_menu .body .main_menu {
  width: 100%;
  font-size: 20px;
  float: right;
}

.mobile_menu .body .main_menu li {
  float: none;
  text-align: right;
}

.mobile_menu .body .main_menu .icons {
  font-size: 25px;
}

.mobile_menu .body .main_menu .icons i {
  color: black;
}

.mobile_menu .body .main_menu .icons li:not(:last-child) {
  float: right;
  margin-left: 10%;
}

.mobile_menu .body .main_menu .icons li {
  padding: 0;
}

.mobile_menu .body .main_menu .com {
  width: 45%;
  margin: auto;
}

.mobile_menu .body .main_menu .com li {
  float: right;
  margin: 0 5%;
  padding: 0;
}

.mobile_menu .body .main_menu .com li i {
  color: #707070;
}

.icon_content {
  padding: 0 !important;
}

.icon_content li:not(.content_header) {
  padding: 0 !important;
}

.content_header i {
  font-size: 25px;
}

.gas_price table {
  width: 100%;
}

.gas_price table td:nth-child(3) {
  font-size: 45px;
}

.gas_price table td div {
  width: 65%;
}

.gas_price table td:not(:nth-child(1)) {
  color: #AEB756;
}

.gas_price table p {
  margin: 0;
}

.currency_converter {
  margin: 0 4%;
}

.currency_converter table {
  width: 100%;
}

.currency_converter .small_size {
  font-size: 15px;
}

.currency_converter .content_row img {
  padding-top: 2%;
}

.prayer_time, .wheather {
  padding: 0 4%;
}

.prayer_time .divider span, .wheather .divider span {
  display: inline-block;
  height: 4em;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.prayer_time .outter, .wheather .outter {
  margin: 0 5%;
  height: 90px;
}

.prayer_time .outter li:not(.inner), .wheather .outter li:not(.inner) {
  float: right;
}

.prayer_time table, .wheather table {
  width: 100%;
}

.prayer_time table td:nth-child(3), .wheather table td:nth-child(3) {
  width: 35%;
}

.prayer_time .first_col, .wheather .first_col {
  margin: 0 8%;
}

.prayer_time .first_col ul li, .wheather .first_col ul li {
  text-align: center !important;
}

.prayer_time .second_col, .wheather .second_col {
  margin-right: 8%;
}

.prayer_time .second_col ul li, .wheather .second_col ul li {
  text-align: center !important;
}

.prayer_time .content_row table, .wheather .content_row table {
  width: 100%;
}

.prayer_time .content_row table td, .wheather .content_row table td {
  text-align: center;
}

.slider {
  background: #AEB756;
  margin: 0 -4%;
}

.slider .slider_body {
  position: relative;
  padding: 0 5%;
  white-space: nowrap;
  overflow: hidden;
}

.slider .slider_body li {
  float: right !important;
}

.slider .slider_body .outter {
  margin: 10% 3% 0 3%;
  color: white;
}

.slider .slider_body .outter li:first-child {
  margin-left: -7%;
}

.slider .slider_body .outter i {
  color: white;
}

.slider .slider_body .body_block {
  display: inline-block;
}

.slider .slider_body::after {
  background: #fff;
  display: block;
  position: relative;
  bottom: -90px;
  left: 5%;
  height: 1px;
  content: "";
  width: 90%;
  opacity: 0.3;
}

.slider .footer {
  width: 20%;
  margin: auto;
}

.slider .footer i {
  color: white;
}

.aside {
  opacity: 0.3;
}

@media (min-width: 360px) {
  .mobile_menu .com {
    width: 95%;
  }
}

@media (max-width: 768px) {
  header div {
    display: none;
  }
  header, nav, .nav_top_hr, .nav_down_hr {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  .mobile_menu .com {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .text-right .com {
    margin: 0;
  }
  .text-right .first {
    margin: 0 8px;
  }
  .text-right .last {
    margin: 0 8px;
  }
  .text-right .icons {
    margin: 0 2%;
  }
  .nav_bar span {
    font-size: 13px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 3%;
  }
}

@media (min-width: 960px) {
  .text-right .icons {
    margin: 0 2%;
  }
  .text-right .first {
    margin: 0 12px;
  }
  .text-right .last {
    margin: 0 12px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 5%;
  }
  .nav_bar span {
    font-size: 16px;
  }
}

@media (min-width: 1140px) {
  .text-right .icons {
    margin: 0 2%;
  }
  .text-right .first {
    margin: 0 15px;
  }
  .text-right .last {
    margin: 0 15px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 5%;
  }
}

@media (min-width: 1200px) {
  .text-right .icons {
    margin: 0 3%;
  }
  .text-right .first {
    margin: 0 20px;
  }
  .text-right .last {
    margin: 0 20px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 7%;
  }
}
/*# sourceMappingURL=index.css.map */