.row_1, .row_2 {
  margin: 40px 0;
}

.row_1 .custom_text, .row_2 .custom_text {
  height: 60px;
}

.card {
  padding: 0 18px;
}

.card-img-top {
  border-radius: 0;
}

.blogs_1 hr {
  margin: 0;
  height: 1px;
}

.card {
  border-radius: 0;
  border: none;
  margin-bottom: 20px;
}

.card:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  background: none;
  padding-right: 0;
  border: none;
}

.card-header img {
  float: right;
}

.card-header .el_youm {
  float: right;
  margin-right: 20px;
  text-align: end;
}

.card-header .el_youm p {
  margin-bottom: 0;
  font-size: 20px;
}

.card-header .el_youm span {
  font-size: 12px;
  color: #6c757d;
}

.card-body {
  padding: 0 0 0 10px;
  text-align: right;
  color: #707070;
  height: 190px;
}

.card-title {
  color: #AEB756;
  height: 90px;
  overflow-y: hidden;
  margin-top: 10px;
  font-size: 20px;
  text-align: right;
}

.card-text {
  overflow-y: hidden;
  height: 150px;
  margin-bottom: 30px;
  font-size: 16px;
}

.small .card-text {
  height: 95px !important;
  margin-bottom: 20px;
}

.small .card-header {
  padding-bottom: 5px;
}

.large .card-header {
  padding-bottom: 8px;
}

.large .card-header .el_youm p {
  margin-bottom: -5px;
}

.large .card-text {
  margin-bottom: 21px;
}

.large .card-footer {
  padding: 15px 0 0 0;
}

.card-footer {
  padding: 20px 0 0 0;
  background: none;
  padding-bottom: 0;
}

.card-footer ul {
  float: left;
}

.card-footer span {
  color: #AEB756;
  float: right;
}

.custom_card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.custom_card .card-img-top {
  width: 50%;
  height: 220px;
  float: right;
  margin-top: 18px;
}

.custom_card .card-content {
  width: 50%;
  padding-right: 40px;
}

.custom_card .card-content .card-body {
  height: 184px;
}

.custom_card .card-content .card-body .card-text {
  height: 96px;
}

.row_2 {
  margin-top: 40px;
}

.row_2 .card-body {
  height: 195px;
}

.row_2 .card-body .card-title {
  height: 60px;
}

.main_event {
  position: relative;
  margin-bottom: 40px;
}

.main_event .background {
  width: 100%;
}

.main_event .floating_card {
  color: #707070;
  background: #ffffffe6;
  position: absolute;
  right: 30px;
  bottom: 7%;
  width: 70%;
  padding: 2% 2% 2% 0;
}

.main_event .floating_card .fc-header {
  text-align: right;
}

.main_event .floating_card .fc-header .el_youm {
  margin-right: 8px;
  text-align: right;
}

.main_event .floating_card .fc-header .el_youm p {
  font-size: 20px;
}

.main_event .floating_card .fc-header img {
  margin-top: 10px;
  float: right;
  height: 37px;
}

.main_event .floating_card .fc-header p {
  margin: 0;
}

.main_event .floating_card .fc-header span {
  font-size: 12px;
}

.main_event .floating_card .fc-body {
  height: 95px;
  font-size: 24px;
  float: right;
  padding: 0 0 2% 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main_event .floating_card .fc-body .card-text {
  font-size: 24px;
  text-align: right;
}

.main_event .floating_card .fc-footer {
  float: left;
  padding: 3% 0 3% 3%;
}

.main_event .floating_card .fc-footer ul li:not(:last-child) {
  margin-left: 12px;
}

.main_event button {
  background: #AEB756;
  border: 0;
  position: absolute;
  bottom: 7%;
  right: 600px;
  color: white;
}

.main_event button i {
  font-size: 30px;
}

.main_event .video_floating_card {
  position: relative;
}

.main_event .video_floating_card .floating_card {
  margin-bottom: 30px;
}

.main_event .video_floating_card .video_button {
  padding: 15px;
  text-align: center;
  position: absolute;
  left: 228px;
  bottom: 30px;
  background: #AEB756;
  width: 75px;
  height: 75px;
}

.main_event .video_floating_card .video_button i {
  font-size: 25px;
}

.blogs_2 .row {
  margin: 40px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.blogs_2 .row div {
  border-right: none;
  border-left: none;
}

.blogs_2 .card-text {
  height: 78px;
}

.blogs_2 .card-footer ul {
  float: left;
}

.blogs_2 .card-footer span {
  float: right;
}

.blogs_2 .large {
  border-right: 0;
}

.blogs_2 .small {
  border: 0;
}

.blogs_2 .row:first-of-type > div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.blogs_2 .row .card-header {
  padding: 0;
  height: 48px;
  margin-bottom: 14px;
}

.blogs_2 .row .card-body {
  height: 170px;
}

.blogs_2 .row .card-body .card-title {
  height: 60px;
  font-size: 20px;
}

.blogs_2 .row .card-body .card-text {
  height: 85px;
  font-size: 16px;
}

.blogs_2 .row .card-footer {
  padding-top: 30px;
}

.blogs_2 .row .card-footer ul li:not(:last-child) {
  margin-left: 13px;
}

.blogs_2 .row:last-of-type {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.blogs_2 .row:last-of-type .card-header {
  height: 48px;
}

.blogs_2 .row:last-of-type .card-header .el_youm img {
  height: 37px;
  margin-top: 10px;
}

.blogs_2 .row:last-of-type .card-img-top {
  height: 230px;
}

.blogs_2 .row:last-of-type .card-body {
  height: 253px;
}

.blogs_2 .row:last-of-type .card-body .card-title {
  height: 60px;
}

.blogs_2 .row:last-of-type .card-body .card-text {
  height: 176px;
}

.blogs_2 .row:last-of-type .card-footer {
  height: 24px;
  margin-top: 24px;
}

@media (min-width: 360px) {
  .row_1 .card .card-body {
    height: 215px;
  }
  .row_1 .card .card-body .card-text {
    height: 90px;
  }
  .card-img-top {
    height: 270px;
  }
  .blog_2 .row:last-of-type .card-body {
    height: 235px;
  }
  .blog_2 .row:last-of-type .card-body .card-text {
    height: 150px;
  }
  .blogs_2 .row:last-of-type .card-body {
    height: 235px;
  }
  .blogs_2 .row:last-of-type .card-body .card-text {
    height: 150px;
  }
}

@media (max-width: 765px) {
  .card:nth-child(2) {
    border-left: 0;
    border-right: 0;
  }
  .custom_card .card-img-top {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    float: none;
    margin-top: 18px;
  }
  .custom_card .card-content {
    width: 100%;
    padding-right: 0;
  }
  .custom_card .card-content .card-body .card-text {
    height: 90px;
  }
  .main_event .background {
    height: 370px;
  }
  .main_event .floating_card {
    height: 210px;
  }
  .main_event .floating_card .el_youm p {
    font-size: 14px;
  }
  .main_event .floating_card .fc-body {
    padding-left: 10%;
  }
  .main_event .floating_card .fc-body .card-text {
    font-size: 16px;
    height: 65px;
  }
  .main_event .floating_card .fc-footer ul li:not(:last-child) {
    margin-left: 10px;
  }
}

@media (min-width: 765px) {
  .card:nth-child(2) {
    border-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
  .main_event .floating_card {
    height: 220px;
  }
  .main_event .floating_card .el_youm p {
    font-size: 14px;
  }
  .main_event .floating_card .fc-body {
    padding-left: 3%;
  }
  .main_event .floating_card .fc-body .card-text {
    font-size: 16px;
  }
}

@media (min-width: 960px) {
  .large .card-text {
    margin-bottom: 27px;
  }
  .card:nth-child(2) {
    border-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
  .main_event .floating_card {
    height: 241px;
  }
  .main_event .floating_card .el_youm p {
    font-size: 16px;
  }
  .main_event .floating_card .fc-body .card-text {
    font-size: 20px;
  }
  .blogs_2 .row:last-of-type .card-body {
    height: 253px;
  }
  .blogs_2 .row:last-of-type .card-body .card-text {
    height: 176px;
  }
}

@media (min-width: 1200px) {
  .row_1 .card:nth-child(2), .row_2 .card:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}
/*# sourceMappingURL=index.css.map */