
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-android:before { content: '\e801'; } /* '' */
.icon-cenima:before { content: '\e802'; } /* '' */
.icon-life_style:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e804'; } /* '' */
.icon-health:before { content: '\e805'; } /* '' */
.icon-sun_1:before { content: '\e806'; } /* '' */
.icon-sun:before { content: '\e807'; } /* '' */
.icon-appstore:before { content: '\e808'; } /* '' */
.icon-search_big:before { content: '\e809'; } /* '' */
.icon-error:before { content: '\e80a'; } /* '' */
.icon-no_net:before { content: '\e80b'; } /* '' */
.icon-chain_error:before { content: '\e80c'; } /* '' */
.icon-currency-converter:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-gas-price:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-global:before { content: '\e811'; } /* '' */
.icon-business:before { content: '\e812'; } /* '' */
.icon-sport:before { content: '\e813'; } /* '' */
.icon-science:before { content: '\e814'; } /* '' */
.icon-next:before { content: '\e815'; } /* '' */
.icon-prev:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-emirate:before { content: '\e818'; } /* '' */
.icon-play:before { content: '\e819'; } /* '' */
.icon-more:before { content: '\e81a'; } /* '' */
.icon-prayer-times:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-stock:before { content: '\e820'; } /* '' */
.icon-twitter:before { content: '\e821'; } /* '' */
.icon-weather:before { content: '\e822'; } /* '' */
.icon-gasoline3:before { content: '\e823'; } /* '' */
.icon-gasoline2:before { content: '\e824'; } /* '' */
.icon-gasoline1:before { content: '\e825'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */