$green :#AEB756;
$white : #fff;
$fadedWhite: rgba(112, 112, 112, 0.1);
$gray:#707070;
$fadedgray:#70707033;
$halffadedgray:#F5F5F5;
@font-face {
    font-family: bahij_bold;
    src: url("fonts/Bahij_TheSansArabic-SemiLight.ttf");
}
@font-face{
    font-family: helveticaNeueLT75;
    src: url("../fonts/HelveticaNeueLT.otf");
}
@font-face{
    font-family:helveticaNeueLT;
    src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}
@font-face{
    font-family:helveticaNeueLTSky;
    src: url("../fonts/HelveticaNeueW23forSKY-Reg.ttf");
}

*{
    padding:0;
    margin: 0;
    color:$gray;
    font-family: helveticaNeueLT75;
}
body{
    position: relative;
}
a{
    color:$gray;
    text-decoration: none;
}
hr{
    margin: 0;
}
a:hover, a:active{
    color:$green;
    text-decoration: none;
}
i:hover, i:active{
    color:$green !important;
}
ul{
    list-style: none;
}
.clearfix{
    clear: both;
}
.float_right{
    float: right;
}
.float_left{
    float: left;
}
.display_none{
    display:none;
}
.border_left{
    border-left: 1px solid $fadedgray;
}
.border_bottom{
    border-bottom: 1px solid $fadedgray;
}
.sm_font{
    font-size: 10px !important;
}
.md_font{
    font-size: 18px;
}
.lg_font{
    font-size: 24px !important;
}
.xl_font{
    font-size: 49px !important;
}
.focused{
    opacity: 1 !important;
}
.clicked{
    border-bottom: 2px solid $green;
}
.chosen{
    color:$green;
}
.dark_gray{
    color:#444444 ;
}
.over_flow{
    overflow: hidden;
}
.padLeft20{
    padding-left: 20px;
}
@media (min-width: 1300px){
  .container {
      padding: 0;
      max-width: 1275px;
  }
}
