@font-face {
  font-family: Bahij_bold;
  src: url(fonts/Bahij_TheSansArabic-Bold.ttf); }

* {
  padding: 0;
  margin: 0;
  color: #707070; }

a {
  color: #707070;
  text-decoration: none; }

hr {
  margin: 0; }

a:hover, a:active {
  color: #AEB756;
  text-decoration: none; }

i:hover, i:active {
  color: #AEB756 !important; }

ul {
  list-style: none; }

.clearfix {
  clear: both; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.display_none {
  display: none; }

.border_left {
  border-left: 1px solid #70707033; }

.border_bottom {
  border-bottom: 1px solid #70707033; }

.sm_font {
  font-size: 10px !important; }

.md_font {
  font-size: 18px; }

.lg_font {
  font-size: 24px !important; }

.xl_font {
  font-size: 49px !important; }

.focused {
  opacity: 1 !important; }

.clicked {
  border-bottom: 2px solid #AEB756; }

.chosen {
  color: #AEB756; }

.dark_gray {
  color: #444444; }

.over_flow {
  overflow: hidden; }

@media (min-width: 1300px) {
  .container {
    padding: 0;
    max-width: 1275px; } }
