
.icon-currency-converter:before { content: '\e800'; } /* '' */
.icon-facebook_1_:before { content: '\e801'; } /* '' */
.icon-gas-price:before { content: '\e802'; } /* '' */
.icon-group-28:before { content: '\e803'; } /* '' */
.icon-group-94:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-group-96:before { content: '\e806'; } /* '' */
.icon-group-97:before { content: '\e807'; } /* '' */
.icon-path-36:before { content: '\e808'; } /* '' */
.icon-path-81:before { content: '\e809'; } /* '' */
.icon-path-138:before { content: '\e80a'; } /* '' */
.icon-prayer-times:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-stock:before { content: '\e80d'; } /* '' */
.icon-twitter_1_:before { content: '\e80e'; } /* '' */
.icon-weather:before { content: '\e80f'; } /* '' */
.icon-globe-alt-outline:before { content: '\e810'; } /* '' */