
.main_event{
  position: relative;
  .background{
    width: 100%;
  }
  .custom_card{
    background:#ffffffe6;
    position: absolute;
    right: 30px;
    bottom: 7%;
    width: 50%;
    height: 30%;
    padding: 2%;
    .cc-header{
      text-align: right;
      img{
        float: right;
        height: 50px;
      }
      p{
        margin: 0;
      }
      span{
        font-size: 12px;
      }
    }
    .cc-body{
      text-align: right;
      float: right;
      padding-bottom: 2%;
      border-bottom: 1px solid rgba(0,0,0,.125) ;
    }
    .cc-footer{
      float: left;
      padding-top: 3%;
    }
  }
  button{
    background: #AEB756;
    border: 0;
    position: absolute;
    bottom: 7%;
    right: 600px;
    i{
      font-size: 30px;
    }
    color: white;
  }
}
.blogs_2{
  .row{
    margin-top: 30px;
  }
  .card-text{
    height: 78px;
  }
  .card-footer{
    ul{
      float: left;
    }
    span{
      float: right;
    }
  }
  .large{
    border-right: 0;
  }
  .small{
    border: 0;
  }
}
.blogs_3{
  .card{
    border:0;
    .card-text{
      margin-bottom: 20px;
    }
  }
}
.more{
  text-align: center;
  margin-bottom: 25px;
}

@media(min-width:768px){
  
  .com{
    margin: 0;
  }
  .first{
    margin: 0 8px ;
  }
  .last{
    margin:0 8px;
  }
  .icons{
    margin:0 2%;
  }
  .nav_bar span {
    font-size: 13px;
  }
  .nav_bar{
    li:not(:last-child){
      margin-left: 3%;
    }
  }
}

@media(min-width:960px){
  .icons{
    margin:0 2%;
  }
  .first{
    margin: 0 12px ;
  }
  .last{
    margin:0 12px;
  }
  .nav_bar{
    li:not(:last-child){
      margin-left: 5%;
    }
  }
  .nav_bar span {
    font-size: 16px;
  }
}
@media (min-width:1140px){
  .icons{
    margin: 0 2%;;
  }
  .first{
    margin: 0 15px ;
  }
  .last{
    margin:0 15px;
  }
  .nav_bar{
    li:not(:last-child){
      margin-left: 5%;
    }
  }
  
}
@media (min-width:1200px){
  
  .icons{
    margin: 0 3%;;
  }
  .first{
    margin: 0 20px ;
  }
  .last{
    margin:0 20px;
  }
  .nav_bar li:not(:last-child) {
    margin-left: 7%;
  }
}


