
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../icons/css/icons.css">
  <link rel="stylesheet" href="../css/index.css">
  <title>privacy policy</title>
</head>
<body>
    <header class="error_header">
        <div class="container">
            <div class="one"><i class="icon-search"></i></div>
            <div class="two"><img src="../images/Right.png" alt=""></div>
            <div class="three">العودة</div>
        </div>
    </header>
    <section class="error_back content">
        <div class="container">
            <ul>
                <li><i class="icon-chain_error"></i></li>
                <li class="error">404</li>
                <li class="error_title" >الصفحة غير موجود</li>
                <li class="error_des"><p>عذرا ، ولكن الصفحة التي كنت تبحث عنها لم يتم العثور عليها. حاول التحقق من URL للخطأ ، ثم اضغط على زر التحديث في المتصفح الخاص بك أو حاول العثور على شيء آخر في موقعنا .</p></li>
                <li><a href="#">سيتم التحويل</a></li>
            </ul> 
        </div>
    </section>
    <hr class="footer_hr"> 
    <footer class="container">
        <div class="more">
            <span>المزيد</span>
            <div class="social">
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-twitter"></i></a>
            <a href="#"><i class="icon-mail"></i></a>
            </div>
        </div>
        <div class="group">
            <div class="center">
            <a href="#"><img src="../images/Right.png" alt=""></a>
            <div class="social_center">
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-mail"></i></a>
            </div>
            <ul>
                <li><div class="divider"></div></li>
                <li>القائمة البريدية</li>
            </ul>
            <div class="subscribe">
                <button>إشتراك</button>
                <input type="text" placeholder="البريد الإلكتروني">
            </div>
            </div>
            <div class="right">
            <div class="in">
                <ul class="one">
                    <li><a href="#">عن دوت إمارات</a></li>
                    <li><a href="#">شروط وأحكام</a></li>
                    <li><a href="#">إتفاقية الخصوصية</a></li>
                    <li><a href="#">إتفاقية ملفات الإوتباط</a></li>
                    <li><a href="#">الأسئلة الشائعة</a></li>
                </ul>
                <ul class="two">
                    <li><a href="#">إتصل بنا</a></li>
                    <li><a href="#">أبلغ عن خطأ</a></li>
                    <li><a href="#">تصويبات وتوضيحات</a></li>
                    <li><a href="#">الشكاوي والإقتراحات</a></li>
                    <li><a href="#">خريطة الموقع</a></li>
                </ul>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="in">
            <img src="../images/footer_image.png" alt="android/apple">
            <div class="inner_left">
                <span>حمل تطبيق<br> 
                    دوت إمارات</span>
                <ul>
                    <li><a href="#"><i class="icon-appstore"></i></a></li>
                    <li><a href="#"><i class="icon-android"></i></a></li>
                    <li><a href="#"><i class="icon-win8"></i></a></li>
                </ul>
            </div>
            </div>
        </div>
        
    </footer>

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="../js/charts.js"></script>
  <script src="../js/slider.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>