<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../icons/css/icons.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>detialed</title>
</head>
<body>
  <header>
      <div class="container clearfix">
          <div class="logo float_right">
              <a href="#"><img src="../images/Right.png" alt="Dot Emirates"></a>
          </div>
          <div class="component search float_left">
              <div class="icon"><i class="icon-search"></i></div>
              <div class="form display_none">
              <div class="form_input">
                  <i class="icon-search"></i>
                  <input type="text" placeholder="بحث">
              </div>
              <div class="form_result">
                  <div class="head clearfix">
                  <ul>
                      <li> :الأكثر إنتشارًا </li>
                      <li>ابو ظبي</li>
                      <li>دبي</li>
                      <li>محمد بن زياد</li>
                  </ul>
                  </div>
                  <div class="results">
                  <div class="one_result">
                      <img src="../images/obama.png" alt="">
                      <p>ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.
                          قبل الانهيار ، تمكن إيكي باتيستا من إقناع شركة مبادلة للاستثمار في شركاتها. بدأت المحادثات في عام 2011 ، واستغرقت عامًا تقريبًا ، وطالبت بالعديد من الرحلات من رجل الأعمال وممثلي الحكومة البرازيلية إلى أغنى دولة في الإمارات العربية المتحدة وتوجت بزيارة الأمير إلى كرنفال ريو ، وفي مارس 2012 ، تم التوقيع على الشيك. من 2 مليار دولار. لم يكن هذا مبلغًا صغيرًا ، نظرًا لأن الصندوق قد حقق بعض الخسائر بالفعل ، وفي العام الماضي ، على سبيل المثال ، حقق أرباحًا بقيمة 282 مليون دولار - وهو انخفاض بنسبة 28٪ مقارنةً بعام 2013.
                          
                          يقول مصدر اتبع نهج العرب مع رجل الأعمال البرازيلي: “لقد أعجب فريق شركة مبادلة بقدرة شركة Eike على توليد الأعمال ، في وقت كانت فيه البرازيل في وضع جيد للغاية ، وكانت مهتمة للغاية بالأصول”. “جاءوا لتقديم تقييم عملاق في المجموعة ، والتي استمرت ما يقرب من عام.” لكن الأرقام خانت العرب. بدءا من شركة النفط OGX ، لم تعط مشاريع Eike Batista النتائج الموعودة وكانت تتراجع واحدا تلو الآخر.
                      </p>
                  </div>
                  <div class="one_result">
                      <p>ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.
                          قبل الانهيار ، تمكن إيكي باتيستا من إقناع شركة مبادلة للاستثمار في شركاتها. بدأت المحادثات في عام 2011 ، واستغرقت عامًا تقريبًا ، وطالبت بالعديد من الرحلات من رجل الأعمال وممثلي الحكومة البرازيلية إلى أغنى دولة في الإمارات العربية المتحدة وتوجت بزيارة الأمير إلى كرنفال ريو ، وفي مارس 2012 ، تم التوقيع على الشيك. من 2 مليار دولار. لم يكن هذا مبلغًا صغيرًا ، نظرًا لأن الصندوق قد حقق بعض الخسائر بالفعل ، وفي العام الماضي ، على سبيل المثال ، حقق أرباحًا بقيمة 282 مليون دولار - وهو انخفاض بنسبة 28٪ مقارنةً بعام 2013.
                          
                          يقول مصدر اتبع نهج العرب مع رجل الأعمال البرازيلي: “لقد أعجب فريق شركة مبادلة بقدرة شركة Eike على توليد الأعمال ، في وقت كانت فيه البرازيل في وضع جيد للغاية ، وكانت مهتمة للغاية بالأصول”. “جاءوا لتقديم تقييم عملاق في المجموعة ، والتي استمرت ما يقرب من عام.” لكن الأرقام خانت العرب. بدءا من شركة النفط OGX ، لم تعط مشاريع Eike Batista النتائج الموعودة وكانت تتراجع واحدا تلو الآخر.
                      </p>
                  </div>
                  <div class="one_result">
                      <p>ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.
                          قبل الانهيار ، تمكن إيكي باتيستا من إقناع شركة مبادلة للاستثمار في شركاتها. بدأت المحادثات في عام 2011 ، واستغرقت عامًا تقريبًا ، وطالبت بالعديد من الرحلات من رجل الأعمال وممثلي الحكومة البرازيلية إلى أغنى دولة في الإمارات العربية المتحدة وتوجت بزيارة الأمير إلى كرنفال ريو ، وفي مارس 2012 ، تم التوقيع على الشيك. من 2 مليار دولار. لم يكن هذا مبلغًا صغيرًا ، نظرًا لأن الصندوق قد حقق بعض الخسائر بالفعل ، وفي العام الماضي ، على سبيل المثال ، حقق أرباحًا بقيمة 282 مليون دولار - وهو انخفاض بنسبة 28٪ مقارنةً بعام 2013.
                          
                          يقول مصدر اتبع نهج العرب مع رجل الأعمال البرازيلي: “لقد أعجب فريق شركة مبادلة بقدرة شركة Eike على توليد الأعمال ، في وقت كانت فيه البرازيل في وضع جيد للغاية ، وكانت مهتمة للغاية بالأصول”. “جاءوا لتقديم تقييم عملاق في المجموعة ، والتي استمرت ما يقرب من عام.” لكن الأرقام خانت العرب. بدءا من شركة النفط OGX ، لم تعط مشاريع Eike Batista النتائج الموعودة وكانت تتراجع واحدا تلو الآخر.
                      </p>
                  </div>
                  </div>
                  <div class="foot">
                  <p>جميع النتائج</p>
                  </div>
                  <div class="foot_options">
                  <ul>
                      <li>عن دوت إمارات</li>
                      <li>شروط وأحكام</li>
                      <li>إتفاقية الخصوصية</li>
                      <li>إتصل بنا</li>
                      <li>الأسئبة الشائعة</li>
                  </ul>
                  </div>
              </div>
              </div>
          </div>
          <div class="component social float_left">
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-mail"></i></a>
          </div>
          <div class="component widgets float_left">
              <div class="one_widget">
                  <i class="icon-gas-price"></i>
                  <div class="widget_content gas_price display_none">
                  <div class="widget_header">
                      <span>أسعار الوقود</span>
                      <i class="icon-gas-price"></i>
                  </div>
                  <div class="widget_body">
                      <div class="widget_row">
                      <div class="float_left">
                          <ul>
                          <li>سوبر 98</li>
                          <li>2.0</li>
                          </ul>
                      </div>
                      <span>جازولين</span>
                      <i class="icon-gasoline1"></i>
                      </div>
                      <div class="widget_row">
                          <div class="float_left">
                          <ul>
                              <li>سوبر 98</li>
                              <li>2.0</li>
                          </ul>
                          </div>
                          <span>جازولين</span>
                          <i class="icon-gasoline1"></i>
                      </div>
                      <div class="widget_row">
                          <div class="float_left">
                          <ul>
                              <li>سوبر 98</li>
                              <li>2.0</li>
                          </ul>
                          </div>
                          <span>جازولين</span>
                          <i class="icon-gasoline1"></i>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="one_widget">
                  <i class="icon-currency-converter"></i>
                  <div class="widget_content currency_converter display_none">
                  <div class="widget_header">
                      <input type="number" placeholder="أدخل العملة">
                      <span>محول العملات</span>
                      <i class="icon-gas-price"></i>
                  </div>
                  <div class="widget_body">
                      <div class="widget_row">
                      <span>1،444</span>
                      <span>درهم إماراتي  </span>
                      <img src="../images/flag.png" alt="flag">
                      </div>
                      <div class="widget_row">
                      <span>1،444</span>
                      <span>درهم إماراتي  </span>
                      <img src="../images/flag.png" alt="flag">
                      </div>
                      <div class="widget_row">
                      <span>1،444</span>
                      <span>درهم إماراتي  </span>
                      <img src="../images/flag.png" alt="flag">
                      </div>
                  </div>
                  </div>
              </div>
              <div class="one_widget">
                  <i class="icon-prayer-times"></i>
                  <div class="widget_content prayer_times display_none">
                      <div class="widget_header">
                          <span>مواقيت الصلاة</span>
                          <i class="icon-prayer-times"></i>
                      </div>
                      <div class="widget_hero clearfix">
                      <div class="float_left line_height_one">
                          <ul>
                          <li>الخميس</li>
                          <li class="xl_font">15</li>
                          <li class="sm_font">مارس 2018</li>
                          </ul>
                      </div>
                      <div class="float_left border_left">
                          <ul>
                          <li>المغرب</li>
                          <li class="lg_font">12:33</li>
                          <li>الظهر</li>
                          </ul>
                      </div>
                      <div class="float_left border_left">
                          <i class="icon-sun_1"></i>
                      </div>
                      </div>
                      <div class="widget_body">
                      <div class="widget_row">
                          <span>12:33</span>
                          <i class="icon-sun"></i>
                          <span>الفجر</span>
                      </div>
                      <div class="widget_row">
                          <span>12:33</span>
                          <i class="icon-sun"></i>
                          <span>الفجر</span>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="one_widget">
                  <i class="icon-weather"></i>
                  <div class="widget_content weather display_none">
                      <div class="widget_header">
                          <span> الطقس</span>
                          <i class="icon-weather"></i>
                      </div>
                      <div class="widget_hero clearfix">
                      <div class="float_left  line_height_one">
                          <ul>
                          <li>الخميس</li>
                          <li class="xl_font">15</li>
                          <li class="sm_font">مارس 2018</li>
                          </ul>
                      </div>
                      <div class="float_left border_left line_height_one">
                          <ul>
                          <li>المغرب</li>
                          <li class="xl_font"><span>°</span>26</li>
                          <li class="sm_font">غالبا مشمس</li>
                          </ul>
                      </div>
                      <div class="float_left border_left">
                          <i class="icon-sun"></i>
                      </div>
                      </div>
                      <div class="widget_slider">
                      <div class="slider_body clearfix">
                          <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                              <ul>
                                  <li class="border_bottom">12 AM</li>
                                  <li>°26</li>
                              </ul>
                              </div>
                          </div>
                          <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                              <ul>
                                  <li class="border_bottom">1 AM</li>
                                  <li>°26</li>
                              </ul>
                              </div>
                          </div>
                          <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                              <ul>
                                  <li class="border_bottom">2 AM</li>
                                  <li>°26</li>
                              </ul>
                              </div>
                          </div>
                          <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                              <ul>
                                  <li class="border_bottom">3 AM</li>
                                  <li>°26</li>
                              </ul>
                              </div>
                          </div>
                          <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                              <ul>
                                  <li class="border_bottom">4 AM</li>
                                  <li>°26</li>
                              </ul>
                              </div>
                          </div>
                          <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                              <ul>
                                  <li class="border_bottom">5 AM</li>
                                  <li>°26</li>
                              </ul>
                              </div>
                          </div>
                      </div>
                      <hr class="slider_hr">
                      <div class="slider_footer">
                          <i class="icon-prev"></i>
                          <i class="icon-next"></i>
                      </div>
                      </div>
                      <div class="widget_body">
                      <div class="widget_row clearfix">
                          <span class="float_right md_font">الخميس</span>
                          <i class="icon-sun float_right lg_font"></i>
                          <div class="float_right lg_font">
                          <span>°26</span>
                          <span>°26</span
                          ></div>
                      </div>
                      <div class="widget_row clearfix">
                          <span class="float_right md_font">الخميس</span>
                          <i class="icon-sun float_right lg_font"></i>
                          <div class="float_right lg_font">
                          <span>°26</span>
                          <span>°26</span
                          ></div>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="one_widget">
                  <i class="icon-stock"></i>
                  <div class="widget_content stock display_none">
                      <div class="widget_header">
                          <span>الأسواق</span>
                          <i class="icon-stock"></i>
                      </div>
                      <div class="widget_nav border_bottom clearfix">
                      <div class="widget_tab clicked ">
                          <span class="chosen">ADI</span>
                      </div>
                      <div class="widget_tab">
                          <span class="dark_gray">DFMGI</span>
                      </div>
                      <div class="widget_tab_data clearfix">
                          <div class="ADI_data  chosen">-0.09% -4</div>
                          <div class="DFMGI_data dark_gray">4,519.58</div>
                      </div>
                      </div>
                      <div class="widget_stat">
                          <div id="stock_graph_container" style="width:360; height:360px; margin: auto"></div>
                      </div>
                      <div class="widget_body">
                          <div class="stat_data">
                              <div class="column">
                              <ul>
                                  <li class="dark_gray">حجم التداول</li>
                                  <li class="size">381,870,534</li>
                              </ul>
                              </div>
                              <div class="column">
                              <ul>
                                  <li class="dark_gray">قيمة التداول</li>
                                  <li class="quantity">381,870,534</li>
                              </ul>
                              </div>
                              <div class="column">
                              <ul>
                                  <li class="dark_gray">عدد العمليات</li>
                                  <li class="count">381,870,534</li>
                              </ul>
                              </div>
                          </div>
                          <div class="stat_line">
                          <div class="win">
                              <ul>
                              <li>20</li>
                              <li></li>
                              <li>رابحة</li>
                              </ul>
                          </div>
                          <div class="normal">
                              <ul>
                              <li>4</li>
                              <li></li>
                              <li>ثابتة</li>
                              </ul>
                          </div>
                          <div class="lose">
                              <ul>
                              <li>20</li>
                              <li></li>
                              <li>خاسرة</li>
                              </ul>
                          </div>
                          </div>
                          <div class="wide_head">
                              الشركات المتداولة 83
                          </div>
                          <div class="sub_head border_bottom">
                              الشركات الأكثر
                          </div>
                          <div class="body_content">
                          <div class="nav_content border_bottom">
                              <div class="clicked"><span>ربحًا</span></div>
                              <div><span>خسارة</span></div>
                              <div><span>قيمة</span></div>
                              <div><span>كمية</span></div>
                          </div>
                          <div class="content_row clearfix">
                              <span>أسمنت الاتحاد</span>
                              <span>20</span>
                              <div>
                                  <i class="icon-play"></i>
                              </div>
                          </div>
                          <div class="content_row clearfix">
                              <span>أسمنت الاتحاد</span>
                              <span>20</span>
                              <div>
                                  <i class="icon-play"></i>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="component local float_left">EN</div>
      </div>
  </header>
  <nav class="border_bottom">
      <div class="container clearfix">
      <div class="one">
          <div class="page_tab clicked"><span>الرئيسية</span><i class="icon-home"></i></div>
          <div class="page_tab"><span>الإمارات</span><i class="icon-emirate"></i></div>
          <div class="page_tab"><span>العالم</span><i class="icon-global"></i></div>
          <div class="page_tab"><span>مال وأعمال</span><i class="icon-business"></i></div>
          <div class="page_tab"><span>رياضة</span><i class="icon-sport"></i></div>
          <div class="page_tab"><span>علوم وتكنولوجيا</span><i class="icon-science"></i></div>
          <div class="page_tab more"><span>المزيد </span><i class="icon-next"></i></div>
      </div>
      <div class="two display_none">
          <div class="page_tab back"><span>رجوع </span><i class="icon-prev"></i></div>
          <div class="page_tab"><span>لايف ستايل</span><i class="icon-life_style"></i></div>
          <div class="page_tab"><span>فن وثقافة</span><i class="icon-cenima"></i></div>
          <div class="page_tab"><span>حوادث وقضايا</span><i class="icon-news"></i></div>
          <div class="page_tab"><span>الصحة</span><i class="icon-health"></i></div>
          <div class="page_tab"><span>المقالات</span><i class="icon-newspaper"></i></div>
      </div>
      </div>
  </nav>
  <div class="mobile_menu_head container clearfix display_none">
      <div class="menu_button float_right">
      <span></span>
      <span></span>
      <span></span>
      </div>
      <span class="float_right">القائمة</span>
  </div>
  <section class="mobile_menu display_none">
      <div class="menu_body ">
      <div class="widget_icons clearfix">
          <div class="widget_icon"><i class="icon-gas-price"></i></div>
          <div class="widget_icon"><i class="icon-currency-converter"></i></div>
          <div class="widget_icon"><i class="icon-prayer-times"></i></div>
          <div class="widget_icon"><i class="icon-weather"></i></div>
          <div class="widget_icon"><i class="icon-stock"></i></div>
      </div>
      <div class="widgets get_height display_none">
          <div class="one_widget">
          <div class="widget_content gas_price display_none ">
              <div class="widget_header">
              <span>أسعار الوقود</span>
              <i class="icon-gas-price"></i>
              </div>
              <div class="widget_body">
              <div class="widget_row">
                  <div class="float_left">
                  <ul>
                      <li>سوبر 98</li>
                      <li>2.0</li>
                  </ul>
                  </div>
                  <span>جازولين</span>
                  <i class="icon-gasoline1"></i>
              </div>
              <div class="widget_row">
                  <div class="float_left">
                      <ul>
                      <li>سوبر 98</li>
                      <li>2.0</li>
                      </ul>
                  </div>
                  <span>جازولين</span>
                  <i class="icon-gasoline1"></i>
              </div>
              <div class="widget_row">
                  <div class="float_left">
                      <ul>
                      <li>سوبر 98</li>
                      <li>2.0</li>
                      </ul>
                  </div>
                  <span>جازولين</span>
                  <i class="icon-gasoline1"></i>
              </div>
              </div>
          </div>
          </div>
          <div class="one_widget">
          <div class="widget_content currency_converter display_none">
              <div class="widget_header">
              <input type="number" placeholder="أدخل العملة">
                  <span>محول العملات</span>
                  <i class="icon-gas-price"></i>
              </div>
              <div class="widget_body">
              <div class="widget_row">
                  <span>1،444</span>
                  <span>درهم إماراتي  </span>
                  <img src="../images/flag.png" alt="flag">
              </div>
              <div class="widget_row">
                  <span>1،444</span>
                  <span>درهم إماراتي  </span>
                  <img src="../images/flag.png" alt="flag">
              </div>
              <div class="widget_row">
                  <span>1،444</span>
                  <span>درهم إماراتي  </span>
                  <img src="../images/flag.png" alt="flag">
              </div>
              </div>
          </div>
          </div>
          <div class="one_widget">
          <div class="widget_content prayer_times display_none">
              <div class="widget_header">
                  <span>مواقيت الصلاة</span>
                  <i class="icon-prayer-times"></i>
              </div>
              <div class="widget_hero clearfix">
                  <div class="float_left line_height_one">
                  <ul>
                      <li>الخميس</li>
                      <li class="xl_font">15</li>
                      <li class="sm_font">مارس 2018</li>
                  </ul>
                  </div>
                  <div class="float_left border_left">
                  <ul>
                      <li>المغرب</li>
                      <li class="lg_font">12:33</li>
                      <li>الظهر</li>
                  </ul>
                  </div>
                  <div class="float_left border_left">
                      <i class="icon-sun_1"></i>
                  </div>
              </div>
              <div class="widget_body">
                  <div class="widget_row">
                  <span>12:33</span>
                  <i class="icon-sun"></i>
                  <span>الفجر</span>
                  </div>
                  <div class="widget_row">
                  <span>12:33</span>
                  <i class="icon-sun"></i>
                  <span>الفجر</span>
                  </div>
              </div>
          </div>
          </div>
          <div class="one_widget">
          <div class="widget_content weather display_none">
              <div class="widget_header">
                  <span> الطقس</span>
                  <i class="icon-weather"></i>
              </div>
              <div class="widget_hero clearfix">
                  <div class="float_left  line_height_one">
                  <ul>
                      <li>الخميس</li>
                      <li class="xl_font">15</li>
                      <li class="sm_font">مارس 2018</li>
                  </ul>
                  </div>
                  <div class="float_left border_left line_height_one">
                  <ul>
                      <li>المغرب</li>
                      <li class="xl_font"><span>°</span>26</li>
                      <li class="sm_font">غالبا مشمس</li>
                  </ul>
                  </div>
                  <div class="float_left border_left">
                      <i class="icon-sun"></i>
                  </div>
              </div>
              <div class="widget_slider">
                  <div class="slider_body clearfix">
                  <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                          <ul>
                          <li class="border_bottom">12 AM</li>
                          <li>°26</li>
                          </ul>
                      </div>
                      </div>
                      <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                          <ul>
                          <li class="border_bottom">1 AM</li>
                          <li>°26</li>
                          </ul>
                      </div>
                      </div>
                      <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                          <ul>
                          <li class="border_bottom">2 AM</li>
                          <li>°26</li>
                          </ul>
                      </div>
                      </div>
                      <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                          <ul>
                          <li class="border_bottom">3 AM</li>
                          <li>°26</li>
                          </ul>
                      </div>
                      </div>
                      <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                          <ul>
                          <li class="border_bottom">4 AM</li>
                          <li>°26</li>
                          </ul>
                      </div>
                      </div>
                      <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                          <ul>
                          <li class="border_bottom">5 AM</li>
                          <li>°26</li>
                          </ul>
                      </div>
                      </div>
                  </div>
                  <hr class="slider_hr">
                  <div class="slider_footer">
                  <i class="icon-prev"></i>
                  <i class="icon-next"></i>
                  </div>
              </div>
              <div class="widget_body">
                  <div class="widget_row clearfix">
                  <span class="float_right md_font">الخميس</span>
                  <i class="icon-sun float_right lg_font"></i>
                  <div class="float_right lg_font">
                      <span>°26</span>
                      <span>°26</span
                  ></div>
                  </div>
                  <div class="widget_row clearfix">
                  <span class="float_right md_font">الخميس</span>
                  <i class="icon-sun float_right lg_font"></i>
                  <div class="float_right lg_font">
                      <span>°26</span>
                      <span>°26</span
                  ></div>
                  </div>
              </div>
          </div>
          </div>
          <div class="one_widget">
          <div class="widget_content stock display_none">
              <div class="widget_header">
                  <span>الأسواق</span>
                  <i class="icon-stock"></i>
              </div>
              <div class="widget_nav border_bottom clearfix">
                  <div class="widget_tab clicked ">
                      <span class="chosen">ADI</span>
                  </div>
                  <div class="widget_tab">
                  <span class="dark_gray">DFMGI</span>
                  </div>
                  <div class="widget_tab_data clearfix">
                  <div class="ADI_data  chosen">-0.09% -4</div>
                  <div class="DFMGI_data dark_gray">4,519.58</div>
                  </div>
              </div>
              <div class="widget_stat">
                  <div id="stock_graph_container" style="width:360; height:360px; margin: auto"></div>
                  </div>
              <div class="widget_body">
                  <div class="stat_data">
                      <div class="column">
                          <ul>
                          <li class="dark_gray">حجم التداول</li>
                          <li class="size">381,870,534</li>
                          </ul>
                      </div>
                      <div class="column">
                          <ul>
                          <li class="dark_gray">قيمة التداول</li>
                          <li class="quantity">381,870,534</li>
                          </ul>
                      </div>
                      <div class="column">
                          <ul>
                          <li class="dark_gray">عدد العمليات</li>
                          <li class="count">381,870,534</li>
                          </ul>
                      </div>
                  </div>
                  <div class="stat_line">
                      <div class="win">
                      <ul>
                          <li>20</li>
                          <li></li>
                          <li>رابحة</li>
                      </ul>
                      </div>
                      <div class="normal">
                      <ul>
                          <li>4</li>
                          <li></li>
                          <li>ثابتة</li>
                      </ul>
                      </div>
                      <div class="lose">
                      <ul>
                          <li>20</li>
                          <li></li>
                          <li>خاسرة</li>
                      </ul>
                      </div>
                  </div>
                  <div class="wide_head">
                      الشركات المتداولة 83
                  </div>
                  <div class="sub_head border_bottom">
                      الشركات الأكثر
                  </div>
                  <div class="body_content">
                      <div class="nav_content border_bottom">
                      <div class="clicked"><span>ربحًا</span></div>
                      <div><span>خسارة</span></div>
                      <div><span>قيمة</span></div>
                      <div><span>كمية</span></div>
                      </div>
                      <div class="content_row clearfix">
                      <span>أسمنت الاتحاد</span>
                      <span>20</span>
                      <div>
                          <i class="icon-play"></i>
                      </div>
                      </div>
                      <div class="content_row clearfix">
                      <span>أسمنت الاتحاد</span>
                      <span>20</span>
                      <div>
                          <i class="icon-play"></i>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
       <div class="page_tabs">
        <div class="page_tab">
            <div class="in container">
                <a href="#"><span>الرئيسية</span><i class="icon-home"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>الإمارات</span><i class="icon-emirate"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>العالم</span><i class="icon-global"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>مال وأعمال</span><i class="icon-business"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>رياضة</span><i class="icon-sport"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <span>علوم وتكنولوجيا</span><i class="icon-science"></i>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>لايف ستايل</span><i class="icon-life_style"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>فن وثقافة</span><i class="icon-cenima"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <span>حوادث وقضايا</span><i class="icon-news"></i>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>الصحة</span><i class="icon-health"></i></a>
            </div>
            </div>
            <div class="page_tab">
            <div class="in container">
                <a href="#"><span>المقالات</span><i class="icon-newspaper"></i></a>
            </div>
            </div>
    </div>
      <div class="social clearfix">
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-mail"></i></a>
      </div>
      </div>
  </section>
  <section class="content container">
      <div class="myrow clearfix ">
        <div class="mycard detialed">
          <div class="mycard_in">
            <div class="img_container clearfix">
                <img class="mycard_img" src="../images/two_mens.png" alt=""> 
            </div>
            <div class="mycard_header clearfix">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
              </div>
            <div class="mycard_body">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطوريةالصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطوري</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="myrow morefrom">
        <ul>
          <li>المزيد من</li>
          <li>أخبار العالم</li>
        </ul>
      </div>
      <div class="myrow clearfix ">
        <div class="mycard large">
          <div class="mycard_in">
            <div class="mycard_header">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
            </div>
            <img class="mycard_img" src="../images/two_mens.png" alt="">
            <div class="mycard_body">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطورية</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <span>العالم</span>
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="mycard small">
          <div class="mycard_in">
            <div class="mycard_header">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
            </div>
            <img class="mycard_img" src="../images/meeting.png" alt="">
            <div class="mycard_body">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطورية</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <span>العالم</span>
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="mycard no_edit small">
          <div class="mycard_in">
            <div class="mycard_header">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
            </div>
            <img class="mycard_img" src="../images/meeting.png" alt="">
            <div class="mycard_body">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطورية</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <span>العالم</span>
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="myrow  clearfix">
        <div class="mycard large wide">
          <div class="mycard_in">
            <div class="mycard_header">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
            <img class="mycard_img" src="../images/two_mens.png" alt="">
            <div class="mycard_body ">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطورية</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <span>العالم</span>
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="mycard small wide">
          <div class="mycard_in">
            <div class="mycard_header clearfix">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
            </div>
            <div class="mycard_body">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطورية</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <span>العالم</span>
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="mycard no_edit small wide">
          <div class="mycard_in">
            <div class="mycard_header clearfix">
              <img src="../images/el-youm.png" alt="logo">
              <div>
                <ul>
                  <li>الإمارات اليوم</li>
                  <li>منذ دقيقه</li>
                </ul>
              </div>
            </div>
            <div class="mycard_body">
              <div class="mycard_content">
                <p class="title">الصندوق الذي يتحكم في ما تبقى من الإمبراطورية الصندوق الذييتحكم في ما تبقى من الإمبراطورية الصندوق الذي يتحكم في ما تبق من الإمبراطورية</p>
                <p class="description">ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.</p>
              </div>
            </div>
            <div class="mycard_footer">
              <span>العالم</span>
              <div>
                <a href="#"><i class="icon-mail"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <footer class="container">
    <div class="more">
      <span>المزيد</span>
      <div class="social">
        <a href="#"><i class="icon-facebook"></i></a>
        <a href="#"><i class="icon-twitter"></i></a>
        <a href="#"><i class="icon-mail"></i></a>
      </div>
    </div>
    <div class="group">
      <div class="center">
        <a href="#"><img src="../images/Right.png" alt=""></a>
        <div class="social_center">
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-mail"></i></a>
        </div>
        <ul>
          <li><div class="divider"></div></li>
          <li>القائمة البريدية</li>
        </ul>
        <div class="subscribe">
          <button>إشتراك</button>
          <input type="text" placeholder="البريد الإلكتروني">
        </div>
      </div>
      <div class="right">
        <div class="in">
          <ul class="one">
              <li><a href="#">عن دوت إمارات</a></li>
              <li><a href="#">شروط وأحكام</a></li>
              <li><a href="#">إتفاقية الخصوصية</a></li>
              <li><a href="#">إتفاقية ملفات الإوتباط</a></li>
              <li><a href="#">الأسئلة الشائعة</a></li>
            </ul>
            <ul class="two">
              <li><a href="#">إتصل بنا</a></li>
              <li><a href="#">أبلغ عن خطأ</a></li>
              <li><a href="#">تصويبات وتوضيحات</a></li>
              <li><a href="#">الشكاوي والإقتراحات</a></li>
              <li><a href="#">خريطة الموقع</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="left">
      <div class="in">
        <img src="../images/footer_image.png" alt="android/apple">
        <div class="inner_left">
            <span>حمل تطبيق<br> 
              دوت إمارات</span>
            <ul>
              <li><a href="#"><i class="icon-appstore"></i></a></li>
              <li><a href="#"><i class="icon-android"></i></a></li>
              <li><a href="#"><i class="icon-win8"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
    
  </footer>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="../js/charts.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>