
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../icons/css/icons.css">
  <link rel="stylesheet" href="../css/index.css">
  <title>privacy policy</title>
</head>
<body>
  <header>
          <div class="container clearfix">
              <div class="logo float_right">
                  <a href="#"><img src="../images/Right.png" alt="Dot Emirates"></a>
              </div>
              <div class="component search float_left">
                  <div class="icon"><i class="icon-search"></i></div>
                  <div class="form display_none">
                  <div class="form_input">
                      <i class="icon-search"></i>
                      <input type="text" placeholder="بحث">
                  </div>
                  <div class="form_result">
                      <div class="head clearfix">
                      <ul>
                          <li> :الأكثر إنتشارًا </li>
                          <li>ابو ظبي</li>
                          <li>دبي</li>
                          <li>محمد بن زياد</li>
                      </ul>
                      </div>
                      <div class="results">
                      <div class="one_result">
                          <img src="../images/obama.png" alt="">
                          <p>ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.
                              قبل الانهيار ، تمكن إيكي باتيستا من إقناع شركة مبادلة للاستثمار في شركاتها. بدأت المحادثات في عام 2011 ، واستغرقت عامًا تقريبًا ، وطالبت بالعديد من الرحلات من رجل الأعمال وممثلي الحكومة البرازيلية إلى أغنى دولة في الإمارات العربية المتحدة وتوجت بزيارة الأمير إلى كرنفال ريو ، وفي مارس 2012 ، تم التوقيع على الشيك. من 2 مليار دولار. لم يكن هذا مبلغًا صغيرًا ، نظرًا لأن الصندوق قد حقق بعض الخسائر بالفعل ، وفي العام الماضي ، على سبيل المثال ، حقق أرباحًا بقيمة 282 مليون دولار - وهو انخفاض بنسبة 28٪ مقارنةً بعام 2013.
                              
                              يقول مصدر اتبع نهج العرب مع رجل الأعمال البرازيلي: “لقد أعجب فريق شركة مبادلة بقدرة شركة Eike على توليد الأعمال ، في وقت كانت فيه البرازيل في وضع جيد للغاية ، وكانت مهتمة للغاية بالأصول”. “جاءوا لتقديم تقييم عملاق في المجموعة ، والتي استمرت ما يقرب من عام.” لكن الأرقام خانت العرب. بدءا من شركة النفط OGX ، لم تعط مشاريع Eike Batista النتائج الموعودة وكانت تتراجع واحدا تلو الآخر.
                          </p>
                      </div>
                      <div class="one_result">
                          <p>ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.
                              قبل الانهيار ، تمكن إيكي باتيستا من إقناع شركة مبادلة للاستثمار في شركاتها. بدأت المحادثات في عام 2011 ، واستغرقت عامًا تقريبًا ، وطالبت بالعديد من الرحلات من رجل الأعمال وممثلي الحكومة البرازيلية إلى أغنى دولة في الإمارات العربية المتحدة وتوجت بزيارة الأمير إلى كرنفال ريو ، وفي مارس 2012 ، تم التوقيع على الشيك. من 2 مليار دولار. لم يكن هذا مبلغًا صغيرًا ، نظرًا لأن الصندوق قد حقق بعض الخسائر بالفعل ، وفي العام الماضي ، على سبيل المثال ، حقق أرباحًا بقيمة 282 مليون دولار - وهو انخفاض بنسبة 28٪ مقارنةً بعام 2013.
                              
                              يقول مصدر اتبع نهج العرب مع رجل الأعمال البرازيلي: “لقد أعجب فريق شركة مبادلة بقدرة شركة Eike على توليد الأعمال ، في وقت كانت فيه البرازيل في وضع جيد للغاية ، وكانت مهتمة للغاية بالأصول”. “جاءوا لتقديم تقييم عملاق في المجموعة ، والتي استمرت ما يقرب من عام.” لكن الأرقام خانت العرب. بدءا من شركة النفط OGX ، لم تعط مشاريع Eike Batista النتائج الموعودة وكانت تتراجع واحدا تلو الآخر.
                          </p>
                      </div>
                      <div class="one_result">
                          <p>ولي العهد محمد بن زايد آل نهيان هو ابن مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق. تصوير: بازوكي محمد / رويترز منذ إنشائها في عام 2002 ، لم يكن لدى أحدث صناديق الثروة السيادية الثلاثة التابعة لحكومة أبوظبي - مبادلة - مكتب خارج الأراضي العربية ، على الرغم من وجوده في 20 بلداً بقيمة أصولها 48 مليار دولار. وقد أصدر ولي العهد محمد بن زايد آل نهيان ، نجل مؤسس أبو ظبي ورئيس مجلس إدارة الصندوق ، حكما يقضي بأن جميع الأعمال سوف يتم التطرق إليها من هناك. حتى عبور برازيلي طريقه وأجبره على تغيير الخطط.
                              قبل الانهيار ، تمكن إيكي باتيستا من إقناع شركة مبادلة للاستثمار في شركاتها. بدأت المحادثات في عام 2011 ، واستغرقت عامًا تقريبًا ، وطالبت بالعديد من الرحلات من رجل الأعمال وممثلي الحكومة البرازيلية إلى أغنى دولة في الإمارات العربية المتحدة وتوجت بزيارة الأمير إلى كرنفال ريو ، وفي مارس 2012 ، تم التوقيع على الشيك. من 2 مليار دولار. لم يكن هذا مبلغًا صغيرًا ، نظرًا لأن الصندوق قد حقق بعض الخسائر بالفعل ، وفي العام الماضي ، على سبيل المثال ، حقق أرباحًا بقيمة 282 مليون دولار - وهو انخفاض بنسبة 28٪ مقارنةً بعام 2013.
                              
                              يقول مصدر اتبع نهج العرب مع رجل الأعمال البرازيلي: “لقد أعجب فريق شركة مبادلة بقدرة شركة Eike على توليد الأعمال ، في وقت كانت فيه البرازيل في وضع جيد للغاية ، وكانت مهتمة للغاية بالأصول”. “جاءوا لتقديم تقييم عملاق في المجموعة ، والتي استمرت ما يقرب من عام.” لكن الأرقام خانت العرب. بدءا من شركة النفط OGX ، لم تعط مشاريع Eike Batista النتائج الموعودة وكانت تتراجع واحدا تلو الآخر.
                          </p>
                      </div>
                      </div>
                      <div class="foot">
                      <p>جميع النتائج</p>
                      </div>
                      <div class="foot_options">
                      <ul>
                          <li>عن دوت إمارات</li>
                          <li>شروط وأحكام</li>
                          <li>إتفاقية الخصوصية</li>
                          <li>إتصل بنا</li>
                          <li>الأسئبة الشائعة</li>
                      </ul>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="component social float_left">
                  <a href="#"><i class="icon-facebook"></i></a>
                  <a href="#"><i class="icon-twitter"></i></a>
                  <a href="#"><i class="icon-mail"></i></a>
              </div>
              <div class="component widgets float_left">
                  <div class="one_widget">
                      <i class="icon-gas-price"></i>
                      <div class="widget_content gas_price display_none">
                      <div class="widget_header">
                          <span>أسعار الوقود</span>
                          <i class="icon-gas-price"></i>
                      </div>
                      <div class="widget_body">
                          <div class="widget_row">
                          <div class="one">
                              <ul>
                              <li>سوبر 98</li>
                              <li>2.0</li>
                              </ul>
                          </div>
                          <div class="one">
                              <span>جازولين</span>
                          </div>
                          <div class="one">
                              <i class="icon-gasoline1"></i>
                          </div>
                          </div>
                          <div class="widget_row">
                          <div class="one">
                              <ul>
                              <li>سوبر 98</li>
                              <li>2.0</li>
                              </ul>
                          </div>
                          <div class="one">
                              <span>جازولين</span>
                          </div>
                          <div class="one">
                              <i class="icon-gasoline1"></i>
                          </div>
                          </div>
                          <div class="widget_row">
                          <div class="one">
                              <ul>
                              <li>سوبر 98</li>
                              <li>2.0</li>
                              </ul>
                          </div>
                          <div class="one">
                              <span>جازولين</span>
                          </div>
                          <div class="one">
                              <i class="icon-gasoline1"></i>
                          </div>
                          </div>
                      </div>
                      </div>
                  </div>
                  <div class="one_widget">
                      <i class="icon-currency-converter"></i>
                      <div class="widget_content currency_converter display_none">
                      <div class="widget_header">
                          <input type="number" placeholder="أدخل العملة">
                          <span>محول العملات</span>
                          <i class="icon-gas-price"></i>
                      </div>
                      <div class="widget_body">
                          <div class="widget_row">
                          <div class="one"><span>1،444</span></div>
                          <div class="one"><span>درهم إماراتي  </span></div>
                          <div class="one"><img src="../images/flag.png" alt="flag"></div>
                          </div>
                          <div class="widget_row">
                          <div class="one"><span>1،444</span></div>
                          <div class="one"><span>درهم إماراتي  </span></div>
                          <div class="one"><img src="../images/flag.png" alt="flag"></div>
                          </div>
                          <div class="widget_row">
                          <div class="one"><span>1،444</span></div>
                          <div class="one"><span>درهم إماراتي  </span></div>
                          <div class="one"><img src="../images/flag.png" alt="flag"></div>
                          </div>
                      </div>
                      </div>
                  </div>
                  <div class="one_widget">
                      <i class="icon-prayer-times"></i>
                      <div class="widget_content prayer_times display_none ">
                          <div class="widget_header">
                              <span>مواقيت الصلاة</span>
                              <i class="icon-prayer-times"></i>
                          </div>
                          <div class="widget_hero clearfix">
                          <div class="float_left one line_height_one">
                              <ul>
                              <li>الخميس</li>
                              <li class="xl_font">15</li>
                              <li class="sm_font">مارس 2018</li>
                              </ul>
                          </div>
                          <div class="float_left one border_left">
                              <ul>
                              <li>المغرب</li>
                              <li class="lg_font">12:33</li>
                              <li>الظهر</li>
                              </ul>
                          </div>
                          <div class="float_left one border_left">
                              <i class="icon-sun_1"></i>
                          </div>
                          </div>
                          <div class="widget_body">
                          <div class="widget_row">
                              <div class="one"><span>12:33</span></div>
                              <div class="one"><i class="icon-sun"></i></div>
                              <div class="one"><span>الفجر</span></div>
                          </div>
                          <div class="widget_row">
                              <div class="one"><span>12:33</span></div>
                              <div class="one"><i class="icon-sun"></i></div>
                              <div class="one"><span>الفجر</span></div>
                          </div>
                          <div class="widget_row">
                              <div class="one"><span>12:33</span></div>
                              <div class="one"><i class="icon-sun"></i></div>
                              <div class="one"><span>الفجر</span></div>
                          </div>
                          </div>
                      </div>
                  </div>
                  <div class="one_widget">
                      <i class="icon-weather"></i>
                      <div class="widget_content weather display_none ">
                          <div class="widget_header">
                              <span> الطقس</span>
                              <i class="icon-weather"></i>
                          </div>
                          <div class="widget_hero clearfix">
                          <div class="float_left one line_height_one">
                              <ul>
                              <li>الخميس</li>
                              <li class="xl_font">15</li>
                              <li class="sm_font">مارس 2018</li>
                              </ul>
                          </div>
                          <div class="float_left one border_left line_height_one">
                              <ul>
                              <li>المغرب</li>
                              <li class="xl_font"><span>°</span>26</li>
                              <li class="sm_font">غالبا مشمس</li>
                              </ul>
                          </div>
                          <div class="float_left one border_left">
                              <i class="icon-sun"></i>
                          </div>
                          </div>
                          <div class="widget_slider">
                          <div class="slider_body clearfix">
                              <div class="slider_item clearfix">
                              <div class="item_body">
                                  <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                                  <ul>
                                  <li class="border_bottom">12 AM</li>
                                  <li>°26</li>
                                  </ul>
                              </div>
                              </div>
                              </div>
                              <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                                  <ul>
                                  <li class="border_bottom">1 AM</li>
                                  <li>°26</li>
                                  </ul>
                              </div>
                              </div>
                              <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                                  <ul>
                                  <li class="border_bottom">2 AM</li>
                                  <li>°26</li>
                                  </ul>
                              </div>
                              </div>
                              <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                                  <ul>
                                  <li class="border_bottom">3 AM</li>
                                  <li>°26</li>
                                  </ul>
                              </div>
                              </div>
                              <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                                  <ul>
                                  <li class="border_bottom">4 AM</li>
                                  <li>°26</li>
                                  </ul>
                              </div>
                              </div>
                              <div class="slider_item clearfix">
                              <i class="icon-sun float_right xl_font"></i>
                              <div class="item_body float_right">
                                  <ul>
                                  <li class="border_bottom">5 AM</li>
                                  <li>°26</li>
                                  </ul>
                              </div>
                              </div>
                          </div>
                          <hr class="slider_hr">
                          <div class="slider_footer">
                              <i class="icon-prev"></i>
                              <i class="icon-next"></i>
                          </div>
                          </div>
                          <div class="widget_body">
                          <div class="widget_row clearfix">
                              <div class="one lg_font">
                              <span>°26</span>
                              <span>°26</span>
                              </div>
                              <div class="one">
                                  <i class="icon-sun lg_font"></i>
                              </div>
                              <div class="one">
                                  <span class="md_font">الخميس</span>
                              </div>
                          </div>
                          <div class="widget_row clearfix">
                              <div class="one lg_font">
                              <span>°26</span>
                              <span>°26</span>
                              </div>
                              <div class="one">
                                  <i class="icon-sun lg_font"></i>
                              </div>
                              <div class="one">
                                  <span class="md_font">الخميس</span>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                  <div class="one_widget">
                      <i class="icon-stock"></i>
                      <div class="widget_content stock display_none">
                          <div class="widget_header">
                              <span>الأسواق</span>
                              <i class="icon-stock"></i>
                          </div>
                          <div class="widget_nav border_bottom clearfix">
                          <div class="widget_tab clicked ">
                              <span class="chosen">ADI</span>
                          </div>
                          <div class="widget_tab">
                              <span class="dark_gray">DFMGI</span>
                          </div>
                          <div class="widget_tab_data clearfix">
                              <div class="ADI_data  chosen">-0.09% -4</div>
                              <div class="DFMGI_data dark_gray">4,519.58</div>
                          </div>
                          </div>
                          <div class="widget_stat">
                              <div id="stock_graph_container" style="width:360; height:360px; margin: auto"></div>
                          </div>
                          <div class="widget_body">
                              <div class="stat_data">
                                  <div class="column">
                                  <ul>
                                      <li class="dark_gray">حجم التداول</li>
                                      <li class="size">381,870,534</li>
                                  </ul>
                                  </div>
                                  <div class="column">
                                  <ul>
                                      <li class="dark_gray">قيمة التداول</li>
                                      <li class="quantity">381,870,534</li>
                                  </ul>
                                  </div>
                                  <div class="column">
                                  <ul>
                                      <li class="dark_gray">عدد العمليات</li>
                                      <li class="count">381,870,534</li>
                                  </ul>
                                  </div>
                              </div>
                              <div class="stat_line">
                              <div class="win">
                                  <ul>
                                  <li>20</li>
                                  <li></li>
                                  <li>رابحة</li>
                                  </ul>
                              </div>
                              <div class="normal">
                                  <ul>
                                  <li>4</li>
                                  <li></li>
                                  <li>ثابتة</li>
                                  </ul>
                              </div>
                              <div class="lose">
                                  <ul>
                                  <li>20</li>
                                  <li></li>
                                  <li>خاسرة</li>
                                  </ul>
                              </div>
                              </div>
                              <div class="wide_head">
                                  الشركات المتداولة 83
                              </div>
                              <div class="sub_head border_bottom">
                                  الشركات الأكثر
                              </div>
                              <div class="body_content">
                              <div class="nav_content border_bottom">
                                  <div class="clicked"><span>ربحًا</span></div>
                                  <div><span>خسارة</span></div>
                                  <div><span>قيمة</span></div>
                                  <div><span>كمية</span></div>
                              </div>
                              <div class="content_row clearfix">
                                  <div class="one">
                                  <i class="icon-up-stock"></i>
                                  </div>
                                  <div class="one"><span>20</span></div>
                                  <div class="one"><span>أسمنت الاتحاد</span></div>
                              </div>
                              <div class="content_row clearfix">
                                  <div class="one">
                                  <i class="icon-up-stock"></i>
                                  </div>
                                  <div class="one"><span>20</span></div>
                                  <div class="one"><span>أسمنت الاتحاد</span></div>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="component local float_left">EN</div>
          </div>
  </header>
  <nav class="border_bottom">
      <div class="container clearfix">
      <div class="one">
          <div class="page_tab clicked"><span>الرئيسية</span><i class="icon-home"></i></div>
          <div class="page_tab"><span>الإمارات</span><i class="icon-emirates"></i></div>
          <div class="page_tab"><span>العالم</span><i class="icon-global"></i></div>
          <div class="page_tab"><span>مال وأعمال</span><i class="icon-business"></i></div>
          <div class="page_tab"><span>رياضة</span><i class="icon-sport"></i></div>
          <div class="page_tab"><span>علوم وتكنولوجيا</span><i class="icon-science"></i></div>
          <div class="page_tab more"><span>المزيد </span><i class="icon-next"></i></div>
      </div>
      <div class="two display_none">
          <div class="page_tab back"><span>رجوع </span><i class="icon-prev"></i></div>
          <div class="page_tab"><span>لايف ستايل</span><i class="icon-life_style"></i></div>
          <div class="page_tab"><span>فن وثقافة</span><i class="icon-cenima"></i></div>
          <div class="page_tab"><span>حوادث وقضايا</span><i class="icon-news"></i></div>
          <div class="page_tab"><span>الصحة</span><i class="icon-health"></i></div>
          <div class="page_tab"><span>المقالات</span><i class="icon-newspaper"></i></div>
      </div>
      </div>
  </nav>
  <div class="mobile_menu_head container clearfix display_none">
      <div class="menu_button float_right">
      <span></span>
      <span></span>
      <span></span>
      </div>
      <span class="float_right">القائمة</span>
  </div>
  <section class="mobile_menu  display_none">
      <div class="menu_body ">
      <div class="widget_icons clearfix">
          <div class="widget_icon"><i class="icon-gas-price"></i></div>
          <div class="widget_icon"><i class="icon-currency-converter"></i></div>
          <div class="widget_icon"><i class="icon-prayer-times"></i></div>
          <div class="widget_icon"><i class="icon-weather"></i></div>
          <div class="widget_icon"><i class="icon-stock"></i></div>
      </div>
      <div class="widgets">
          <div class="one_widget one_item">
          <div class="widget_content gas_price container  display_none ">
              <div class="widget_header">
              <span>أسعار الوقود</span>
              <i class="icon-gas-price"></i>
              </div>
              <div class="widget_body">
              <div class="widget_row">
                  <div class="one">
                  <ul>
                      <li>سوبر 98</li>
                      <li>2.0</li>
                  </ul>
                  </div>
                  <div class="one">
                  <span>جازولين</span>
                  </div>
                  <div class="one">
                  <i class="icon-gasoline1"></i>
                  </div>
              </div>
              <div class="widget_row">
                  <div class="one">
                  <ul>
                      <li>سوبر 98</li>
                      <li>2.0</li>
                  </ul>
                  </div>
                  <div class="one">
                  <span>جازولين</span>
                  </div>
                  <div class="one">
                  <i class="icon-gasoline1"></i>
                  </div>
              </div>
              <div class="widget_row">
                  <div class="one">
                  <ul>
                      <li>سوبر 98</li>
                      <li>2.0</li>
                  </ul>
                  </div>
                  <div class="one">
                  <span>جازولين</span>
                  </div>
                  <div class="one">
                  <i class="icon-gasoline1"></i>
                  </div>
              </div>
              </div>
          </div>
          </div>
          <div class="one_widget one_item">
          <div class="widget_content currency_converter display_none">
              <div class="widget_header">
              <input type="number" placeholder="أدخل العملة">
                  <span>محول العملات</span>
                  <i class="icon-gas-price"></i>
              </div>
              <div class="widget_body">
              <div class="widget_row">
                  <div class="one"><span>1،444</span></div>
                  <div class="one"><span>درهم إماراتي  </span></div>
                  <div class="one"><img src="../images/flag.png" alt="flag"></div>
              </div>
              <div class="widget_row">
                  <div class="one"><span>1،444</span></div>
                  <div class="one"><span>درهم إماراتي  </span></div>
                  <div class="one"><img src="../images/flag.png" alt="flag"></div>
              </div>
              <div class="widget_row">
                  <div class="one"><span>1،444</span></div>
                  <div class="one"><span>درهم إماراتي  </span></div>
                  <div class="one"><img src="../images/flag.png" alt="flag"></div>
              </div>
              </div>
          </div>
          </div>
          <div class="one_widget one_item">
          <div class="widget_content prayer_times display_none">
              <div class="widget_header">
                  <span>مواقيت الصلاة</span>
                  <i class="icon-prayer-times"></i>
              </div>
              <div class="widget_hero clearfix">
                  <div class="float_left one line_height_one">
                  <ul>
                      <li>الخميس</li>
                      <li class="xl_font">15</li>
                      <li class="sm_font">مارس 2018</li>
                  </ul>
                  </div>
                  <div class="float_left one border_left">
                  <ul>
                      <li>المغرب</li>
                      <li class="lg_font">12:33</li>
                      <li>الظهر</li>
                  </ul>
                  </div>
                  <div class="float_left one border_left">
                      <i class="icon-sun_1"></i>
                  </div>
              </div>
              <div class="widget_body">
                  <div class="widget_row">
                      <div class="one"><span>12:33</span></div>
                      <div class="one"><i class="icon-sun"></i></div>
                      <div class="one"><span>الفجر</span></div>
                  </div>
                  <div class="widget_row">
                      <div class="one"><span>12:33</span></div>
                      <div class="one"><i class="icon-sun"></i></div>
                      <div class="one"><span>الفجر</span></div>
                  </div>
                  <div class="widget_row">
                      <div class="one"><span>12:33</span></div>
                      <div class="one"><i class="icon-sun"></i></div>
                      <div class="one"><span>الفجر</span></div>
                  </div>
              </div>
          </div>
          </div>
          <div class="one_widget one_item">
          <div class="widget_content weather display_none">
              <div class="widget_header">
                  <span> الطقس</span>
                  <i class="icon-weather"></i>
              </div>
              <div class="widget_hero clearfix">
                  <div class="float_left one line_height_one">
                  <ul>
                      <li>الخميس</li>
                      <li class="xl_font">15</li>
                      <li class="sm_font">مارس 2018</li>
                  </ul>
                  </div>
                  <div class="float_left one border_left line_height_one">
                  <ul>
                      <li>المغرب</li>
                      <li class="xl_font"><span>°</span>26</li>
                      <li class="sm_font">غالبا مشمس</li>
                  </ul>
                  </div>
                  <div class="float_left one border_left">
                      <i class="icon-sun"></i>
                  </div>
              </div>
              <div class="widget_slider">
                  <div class="slider_body clearfix">
                  <div class="slider_item clearfix">
                      <div class="item_body">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                      <ul>
                          <li class="border_bottom">12 AM</li>
                          <li>°26</li>
                      </ul>
                      </div>
                      </div>
                  </div>
                  <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                      <ul>
                          <li class="border_bottom">1 AM</li>
                          <li>°26</li>
                      </ul>
                      </div>
                  </div>
                  <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                      <ul>
                          <li class="border_bottom">2 AM</li>
                          <li>°26</li>
                      </ul>
                      </div>
                  </div>
                  <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                      <ul>
                          <li class="border_bottom">3 AM</li>
                          <li>°26</li>
                      </ul>
                      </div>
                  </div>
                  <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                      <ul>
                          <li class="border_bottom">4 AM</li>
                          <li>°26</li>
                      </ul>
                      </div>
                  </div>
                  <div class="slider_item clearfix">
                      <i class="icon-sun float_right xl_font"></i>
                      <div class="item_body float_right">
                      <ul>
                          <li class="border_bottom">5 AM</li>
                          <li>°26</li>
                      </ul>
                      </div>
                  </div>
                  </div>
                  <hr class="slider_hr">
                  <div class="slider_footer">
                  <i class="icon-prev"></i>
                  <i class="icon-next"></i>
                  </div>
              </div>
              <div class="widget_body">
                  <div class="widget_row clearfix">
                      <div class="one lg_font">
                      <span>°26</span>
                      <span>°26</span>
                      </div>
                      <div class="one">
                          <i class="icon-sun lg_font"></i>
                      </div>
                      <div class="one">
                          <span class="md_font">الخميس</span>
                      </div>
                  </div>
                  <div class="widget_row clearfix">
                      <div class="one lg_font">
                          <span>°26</span>
                          <span>°26</span>
                      </div>
                      <div class="one">
                          <i class="icon-sun lg_font"></i>
                      </div>
                      <div class="one">
                          <span class="md_font">الخميس</span>
                      </div>
                      </div>
              </div>
          </div>
          </div>
          <div class="one_widget one_item ">
          <div class="widget_content stock display_none">
              <div class="widget_header">
                  <span>الأسواق</span>
                  <i class="icon-stock"></i>
              </div>
              <div class="widget_nav border_bottom clearfix">
                  <div class="widget_tab clicked ">
                      <span class="chosen">ADI</span>
                  </div>
                  <div class="widget_tab">
                  <span class="dark_gray">DFMGI</span>
                  </div>
                  <div class="widget_tab_data clearfix">
                  <div class="ADI_data  chosen">-0.09% -4</div>
                  <div class="DFMGI_data dark_gray">4,519.58</div>
                  </div>
              </div>
              <div class="widget_stat">
                  <div id="stock_graph_container" style="width:360; height:360px; margin: auto"></div>
                  </div>
              <div class="widget_body">
                  <div class="stat_data">
                      <div class="column">
                          <ul>
                          <li class="dark_gray">حجم التداول</li>
                          <li class="size">381,870,534</li>
                          </ul>
                      </div>
                      <div class="column">
                          <ul>
                          <li class="dark_gray">قيمة التداول</li>
                          <li class="quantity">381,870,534</li>
                          </ul>
                      </div>
                      <div class="column">
                          <ul>
                          <li class="dark_gray">عدد العمليات</li>
                          <li class="count">381,870,534</li>
                          </ul>
                      </div>
                  </div>
                  <div class="stat_line">
                      <div class="win">
                      <ul>
                          <li>20</li>
                          <li></li>
                          <li>رابحة</li>
                      </ul>
                      </div>
                      <div class="normal">
                      <ul>
                          <li>4</li>
                          <li></li>
                          <li>ثابتة</li>
                      </ul>
                      </div>
                      <div class="lose">
                      <ul>
                          <li>20</li>
                          <li></li>
                          <li>خاسرة</li>
                      </ul>
                      </div>
                  </div>
                  <div class="wide_head">
                      الشركات المتداولة 83
                  </div>
                  <div class="sub_head border_bottom">
                      الشركات الأكثر
                  </div>
                  <div class="body_content">
                      <div class="nav_content border_bottom">
                      <div class="clicked"><span>ربحًا</span></div>
                      <div><span>خسارة</span></div>
                      <div><span>قيمة</span></div>
                      <div><span>كمية</span></div>
                      </div>
                      <div class="content_row clearfix">
                      <div class="one">
                          <i class="icon-up-stock"></i>
                      </div>
                      <div class="one"><span>20</span></div>
                      <div class="one"><span>أسمنت الاتحاد</span></div>
                      </div>
                      <div class="content_row clearfix">
                      <div class="one">
                          <i class="icon-up-stock"></i>
                      </div>
                      <div class="one"><span>20</span></div>
                      <div class="one"><span>أسمنت الاتحاد</span></div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="page_tabs">
          <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>الرئيسية</span><i class="icon-home"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>الإمارات</span><i class="icon-emirates"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>العالم</span><i class="icon-global"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>مال وأعمال</span><i class="icon-business"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>رياضة</span><i class="icon-sport"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <span>علوم وتكنولوجيا</span><i class="icon-science"></i>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>لايف ستايل</span><i class="icon-life_style"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>فن وثقافة</span><i class="icon-cenima"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <span>حوادث وقضايا</span><i class="icon-news"></i>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>الصحة</span><i class="icon-health"></i></a>
              </div>
              </div>
              <div class="page_tab">
              <div class="in container">
                  <a href="#"><span>المقالات</span><i class="icon-newspaper"></i></a>
              </div>
              </div>
      </div>
      <div class="social clearfix">
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-mail"></i></a>
      </div>
      </div>
  </section>
  <section class="container privacy_policy content">
      <div class="head">
          <div class="in">
            <img src="../images/logo_icon.png" alt="">
            <h3>عن دوت إمارات</h3>
          </div>
      </div>
      <div class="tabs">
          <a href="">شروط وأحكام</a>
          <a href="">إتفاقية الخصوصية</a>
          <a href="">إتفاقية ملفات الإوتباط</a>
          <a href="">الأسئلة الشائعة</a>
          <a href="">إتصل بنا</a>
      </div>
      <div class="body clearfix">
          <div class="right">
                يلتزم موقع دوت إمارات بحماية المعلومات الشخصية الخاصة بك، فنحن نسعى لتقديم خدماتنا في بيئة آمنة وممتعة للجميع، لذا تهدف هذه الصفحة لمساعدتك على فهم ما هي المعلومات التي قد نجمعها عنك وكيف نستخدمها.

                عندما تتفاعل مع دوت إمارات نقوم في بعض الأحيان بتلقي أو جمع معلومات شخصية عنك. على سبيل المثال، إذا قمت بمراسلتنا أو الاشتراك في النشرة الإخبارية، قد نطلب منك معلوماتك الشخصية وطرق الاتصال بك ورأيك في موقع دوت إمارات وخدماته. وحين تقوم بالتسجيل للحصول على حساب على موقع دوت إمارات، قد نطلب منك تقديم بعض المعلومات الشخصية مثل عنوان البريد الإلكتروني الخاص بك، حتى نتمكن من إدارة التسجيل. وعند استخدام خدمات دوت إمارات على الإنترنت، سوف نستخدم عنوان الـIP الخاص بك، وملفات تعريف الارتباط لتقديم وظائف معينة لك. لمعرفة المزيد وفهم أفضل لكيفية استخدام خدماتنا، برجاء الرجوع إلى اتفاقية ملفات الارتباط.
                
                كيف سيقوم موقع دوت إمارات باستخدام معلوماتك الشخصية؟
                سيقوم موقع دوت إمارات باستخدام معلوماتك لعدة أغراض كالتالي:
                -للاتصال بك. لتقديم خدماتنا لك، على سبيل المثال قد نرسل لك نشرة إخبارية أو تنبيه إخباري إذا قمت بالاشتراك في هذه الخدمات.
                -لتخصيص الطريقة التي تعرض بها موقع دوت إمارات، على سبيل المثال ‏إذا قمت بتحديد موقعك، سنقوم بتخصيص بعض الخدمات التي تعتمد على موقعك الجغرافي، كخدمات الطقس ومواقيت الصلاة. كما سنحرص على أن تكون واجهة الموقع مناسبة لموقعك من أجل استخدام أفضل لخدماتنا.
                سيبقي موقع دوت إمارات معلوماتك سرية، وفي العموم، لن تستخدم هذه المعلومات إلا داخل خدمات دوت إمارات. إلا أننا في بعض الأحيان قد نستخدم أطراف ثالثة لتقديم بعض الخدمات المخصصة بالنيابة عنا دون المساس بأمن معلوماتك الشخصية.
                
                هل سيتم الاتصال بي لأغراض التسويق، أو تحديث قواعد البيانات أو الإعلانات؟
                لن يقوم موقع دوت إمارات بإرسال رسائل بريد إلكتروني أو الاتصال بك لأغراض تسويقية، أو للإعلان عن خدمات أو أنشطة أو محتوى جديد إلا بعد الحصول على موافقة مسبقة منك. سيقوم فقط بإرسال الرسائل التي وافقت على استقبالها. وقد نقوم بإضفاء طابع شخصي على محتوى الرسائل طبقا للمعلومات التي قدمتها للموقع أو التي جمعناها أثناء استخدامك للموقع.
                
                المحتوى المسيء أو غير اللائق على موقع دوت إمارات
                إذا قمت بنشر أو إرسال محتوى مسيء أو غير لائق على موقع دوت إمارات أو قمت بالانخراط في أي سلوك تخريبي على أي من خدمات دوت إمارات، قد يستخدم دوت إمارات المعلومات الشخصية الخاصة بك لوقف مثل هذا السلوك. وإذا قام موقع دوت إمارات بالشك في مخالفتك للقوانين المعمول بها (على سبيل المثال بسبب كون المحتوى الذي قمت بنشره نوعا من التشهير)، قد يستخدم الموقع المعلومات الشخصية لإبلاغ الأطراف الثالثة ذات الصلة مثل صاحب العمل الخاص بك، مدرستك، أو مزود خدمة الإنترنت أو البريد الإلكتروني الخاص بك أو منفذي القانون بشأن المحتوى وسلوكك.
                
                ماذا لو كان عمري ١٦ عاماً أو أقل؟
                إذا كان عمرك ١٦ عاما أو أقل، يرجى الحصول على إذن الوالد/ولي الأمر قبل تقديم أية معلومات شخصية لدوت إمارات.
                
                الاتصال بدوت إمارات حول سياسة الخصوصية
                إذا كان لديك أي استفسارات أو تعليقات حول سياسة الخصوصية هذه يرجى الاتصال بدوت إمارات.
          </div>
          <div class="left">
                dotemirates is committed to protecting your personal information. We want our services to be safe and enjoyable environments for everyone. This page aims to help you to understand what information we might collect about you and how we use it.

                When you interact with dotemirates, we sometimes receive or collect personal information about you. For example, if you write to us or sign up to a newsletter, you might tell us who you are, how we can contact you and what you think of dotemirates and its services. If you register for a dotemirates account, we may ask you to provide some personal information, such as your email address. When you use dotemirates services, we will use your IP address and cookies to provide certain functionality to you and to better understand how our services are being used.
                
                How we use your information
                We will use your information for a number of purposes including the following:
                -To contact you to provide you some services. For example, to send you a newsletter or a news alert, if you have asked for them.
                -To customise the way dotemirates content is presented to you. For example, if you tell us your location we will be able to customise your view of the dotemirates homepage, dotemirates News and Weather so that you always see relevant local content.
                We will keep your information confidential and generally we will only use your information within dotemirates. However, we sometimes use third parties to provide services on our behalf.
                
                Will I be contacted for marketing purpose, Database updates or advertisement?
                dotemirates will only send you emails or otherwise contact you for marketing purposes, or to promote new services, activities or content where you have agreed to receive these communications. We may personalise the message content based upon any information you have provided to us and your use of dotemirates.
                
                Offensive or inappropriate content on dotemirates
                If you post or send offensive, inappropriate or objectionable content anywhere on or to dotemirates or otherwise engage in any disruptive behaviour on any dotemirates service, dotemirates may use your personal information to stop such behaviour. And when dotemirates reasonably believes that you are or may be in breach of any applicable laws, dotemirates may use your personal information to inform relevant third parties such as your employer, school email/internet provider or law enforcement agencies about the content and your behaviour.
                
                What if I am a user aged 16 or under?
                If you are aged 16 or under, please get your parent/guardian’s permission before you provide any personal information to dotemirates.
                
                Contacting dotemirates about this Privacy Policy
                If you have any questions or comments about this Privacy Policy please contact us.
          </div>
      </div>
      <div class="foot">
        <img src="../images/Intersection 2.png" alt="">
      </div>
  </section>
  <hr class="footer_hr"> 
  <footer class="container">
      <div class="more">
          <span>المزيد</span>
          <div class="social">
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-mail"></i></a>
          </div>
      </div>
      <div class="group">
          <div class="center">
          <a href="#"><img src="../images/Right.png" alt=""></a>
          <div class="social_center">
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-mail"></i></a>
          </div>
          <ul>
              <li><div class="divider"></div></li>
              <li>القائمة البريدية</li>
          </ul>
          <div class="subscribe">
              <button>إشتراك</button>
              <input type="text" placeholder="البريد الإلكتروني">
          </div>
          </div>
          <div class="right">
          <div class="in">
              <ul class="one">
                  <li><a href="#">عن دوت إمارات</a></li>
                  <li><a href="#">شروط وأحكام</a></li>
                  <li><a href="#">إتفاقية الخصوصية</a></li>
                  <li><a href="#">إتفاقية ملفات الإوتباط</a></li>
                  <li><a href="#">الأسئلة الشائعة</a></li>
              </ul>
              <ul class="two">
                  <li><a href="#">إتصل بنا</a></li>
                  <li><a href="#">أبلغ عن خطأ</a></li>
                  <li><a href="#">تصويبات وتوضيحات</a></li>
                  <li><a href="#">الشكاوي والإقتراحات</a></li>
                  <li><a href="#">خريطة الموقع</a></li>
              </ul>
              </div>
          </div>
      </div>
      <div class="left">
          <div class="in">
          <img src="../images/footer_image.png" alt="android/apple">
          <div class="inner_left">
              <span>حمل تطبيق<br> 
                  دوت إمارات</span>
              <ul>
                  <li><a href="#"><i class="icon-appstore"></i></a></li>
                  <li><a href="#"><i class="icon-android"></i></a></li>
                  <li><a href="#"><i class="icon-win8"></i></a></li>
              </ul>
          </div>
          </div>
      </div>
      
  </footer>

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="../js/charts.js"></script>
  <script src="../js/slider.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>